{% extends 'TapirAbmBundle::listar.html.twig' %}

{% block pagina_titulo %}Inmuebles{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Domicilio</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in res.Entidades %}
		<tr data-toggle="ajax-link" href="{{ path(res.ObtenerRutaAccion('ver'), res.Arrastre|merge({ 'id': entity.Id })) }}">
			<td>{{ entity.Nombre }}</td>
			<td>{{ entity.DomicilioReal }}
			    {% if entity.UbicacionReal %}
    				<a href="{{ path(res.ObtenerRutaAccion('ver'), res.Arrastre|merge({ 'id': entity.Id })) }}"><i
    					class="fa fa-map-marker"></i></a>
        		{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}

{% block pagina_acciones %}
<a data-toggle="ajax-link" href="{{ path(res.ObtenerRutaAccion('crear'), res.Arrastre) }}"
	class="btn btn-default hidden-print"><i class="fa fa-plus"></i> Nuevo inmueble</a>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
    {% if tapir_hasanyrole('ROLE_ADMINISTRADOR') %}
	<a data-toggle="ajax-link"
		href="{{ path('yacare_nomina_inmuebleetiqueta_listar') }}"
		class="btn btn-default"><i class="fa fa-tag"></i> Etiquetas</a>
    {% endif %}
{% endblock pagina_acciones2 %}
