{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}
{% import 'YacareBaseBundle:Default:macros_yacare.html.twig' as my %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-8 col-xs-12">
		    {% if res.Entidad.DomicilioCalle %}
		        {{ bs.grid_label_text('Domicilio', res.Entidad.DomicilioReal) }}
			{% endif %}
			{% if res.Entidad.Partida %}
		        {{ bs.grid_label_text('Partida', res.Entidad.Partida) }}
			{% endif %}
			
			{% if res.Entidad.Url %}
			{{ bs.grid_label_text('Sitio web', '<a href="' ~ res.Entidad.Url ~ '" target="_blank">' ~ res.Entidad.Url ~ '</a>') }}
			{% endif %}
	        {{ bs.grid_label_text('Teléfonos', res.Entidad.Telefonos) }}
	        {{ bs.grid_label_text('Correo electrónico', res.Entidad.Email) }}
	        {{ bs.grid_label_text('Horario', res.Entidad.Horario) }}
	        {{ bs.grid_label_text('Ubicación', res.Entidad.UbicacionReal) }}
	        
	        <div class="col-sm-12">
    	        {% for etiqueta in res.Entidad.Etiquetas %}
    	        	<span class="label label-lg label-info">{{ etiqueta }}</span>
    	        {% endfor %}
        		{% if res.Entidad.Obs %}
        			<p>{{ res.Entidad.Obs }}</p>
        		{% endif %}
	        </div>
	</div>
	
	<div class="col-sm-4 col-xs-12">
	{% if res.Entidad.UbicacionReal %}
    	<div id="map" class="osmbundle_map">
        </div>
        <script type="text/javascript">
        $(function() {
            {{ osm_quickmapjs(res.Entidad.UbicacionReal, res.Entidad) }}
            //setTimeout(function() {
            // 	{# res.Mapa.Id #}.invalidateSize();
            //}, 0);
        });
        </script>
	{% endif %}
	</div>

</div>
{% endblock %}

{% block pagina_acciones2 %}
{% if tapir_hasanyrole('ROLE_NOMINA_ADMINISTRADOR') %}
	<div class="pull-right">
    <a data-toggle="ajax-link" class="btn btn-default"
    	href="{{ path(res.ObtenerRutaAccion('editar'), { 'id': res.Entidad.Id }) }}">
    	<i class="fa fa-edit"></i> Editar</a>
	</div>
{% endif %}
{% endblock %}
