{% macro listarrequisitos(tramite, nivel) %}
{% if tramite.EstadosRequisitos|length > 0 %}
	<p>Para iniciar el trámite &quot;{{ tramite.TramiteTipo }}&quot; deberá
		presentar la siguiente documentación:</p>
<ul class="list-unstyled">
	{% for EstadoRequisito in tramite.EstadosRequisitos %}
		{% if EstadoRequisito.EsNecesario %}
		<li>
			<i class="fa fa-square-o"></i> {{ EstadoRequisito.AsociacionRequisito }}
	    </li>
	    {% endif %}
	{% endfor %}
	
	
	<h3>Documentación no requisitoria</h3>
	{% for EstadoRequisito in tramite.EstadosRequisitos %}
	    {% if EstadoRequisito.EsNecesario == false %}
		<li>
			<i class="fa fa-minus-square-o"></i> <del>{{ EstadoRequisito.AsociacionRequisito }}</del>
	    	<p class="help-text">{{ EstadoRequisito.AsociacionRequisito.Obs }}
	    	{% if app.environment == 'dev' %}
	    	<span class="text-danger">Debug: La condición a evaluar es {{ EstadoRequisito.ExplicarCondicion }}</span>
	    	{% endif %}
	    	</p>
	    </li>
	    {% endif %}
	{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro mostrarrequisito(estadoreq) %}
{% if estadoreq.AsociacionRequisito.Requisito.Obs %}<p>{{ estadoreq.AsociacionRequisito.Requisito.Obs }}</p>{% endif %}
{% if estadoreq.AsociacionRequisito.Requisito.Lugar or estadoreq.AsociacionRequisito.Requisito.Url %}<p class="text-info">{% endif %}
{% if estadoreq.AsociacionRequisito.Requisito.Lugar %}Se obtiene en <strong>{{ estadoreq.AsociacionRequisito.Requisito.Lugar }}</strong>{% endif %}
{% if estadoreq.AsociacionRequisito.Requisito.Url %}[ {{ estadoreq.AsociacionRequisito.Requisito.Url }} ]{% endif %}
{% if estadoreq.AsociacionRequisito.Requisito.Lugar or estadoreq.AsociacionRequisito.Requisito.Url %}</p>{% endif %}
{% endmacro %}