{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Terminar trámite {{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
{% if res.Entidad.Estado == 100 %}
    {{ tgen.Icon('flag-checkered', { class: 'text-success fa-5x pull-left'})|raw }}
    
    <p>El trámite Nº {{ res.Entidad.id }} iniciado el {{
    	res.Entidad.createdAt|tapir_fecha('full', 'none')|lower }} finalizó {% if
    	res.Entidad.FechaTerminado %} el {{
    	res.Entidad.FechaTerminado|tapir_fecha('full', 'short')|lower }} ({{
    	res.Entidad.FechaTerminado|tapir_hacetiempo }}) {% endif %}</p>
    
    {% if res.Comprobante %}
        {{ tgen.Header2(res.Comprobante)|raw }}
        
        <object data="{{ path(res.RutaComprobante ~ '_ver', { id: res.Comprobante.id, tapir_sinencab: 1 }) }}" 
        	style="width: 100%; height: 99%; min-height: 480px;">
        </object>
    {% endif %}
{% else %}
	<p>El trámite Nº {{ res.Entidad.id }}, no se pudo finalizar. {{ res.Mensaje }}</p>
{% endif %}

{% endblock %}

{% block pagina_acciones %}
{% if res.Comprobante %}
{{ tgen.Button('Imprimir comprobante', { ajax: 'true', icon: 'print', href: path(res.RutaComprobante ~ '_ver', { id: res.Comprobante.id, imprimirahora: 1 }) })|raw }}
{{ tgen.Button('Volver al trámite', { ajax: 'true', icon: 'reply', href: path(res.ObtenerRutaAccion('ver'), { id : res.Entidad.id }) })|raw }}
{% endif %}
{% endblock %}

{% block pagina_acciones2 %}
{{ tgen.Button('Lista de trámites', { ajax: 'true', icon: 'list', href: path(res.ObtenerRutaAccion('listar')) })|raw }}
{% endblock pagina_acciones2 %}
