{% extends 'YacareSitioWebBundle::layout.html.twig' %}

{% block pagina_titulo %}Requerimiento anónimo{% endblock %}

{% block pagina_contenido %}
<style>
    .wra {
        padding: 40px !important;
    }
    textarea {
    	min-height: 96px;
    }
</style>
<div class="wr">

{{ form_start(res.FormularioEditar, {
        'action': path(res.ObtenerRutaAccion(res.AccionGuardar), res.Arrastre|merge({ 'id': res.Entidad.id })),
        'method': 'POST',
        'attr': { 'id': res.FormularioEditar.vars.id }
    }) }}

<h1>Sus comentarios, reclamos, denuncias, consultas o solicitudes son bienvenidos</h1>

{{ form_errors(res.FormularioEditar) }}

<p class="small">
	En caso de reclamos o solicitudes, por favor sea claro sobre el problema, la ubicación exacta y otros
	datos que puedan ser de utilidad para identificar y solucionar el problema.
</p>
<p class="text-primary">Por favor describa su consulta o reclamo. Puede ser tan breve o extenso como considere necesario.</p>
{{ form_widget(res.FormularioEditar.Notas) }}

&nbsp;<br />

<p class="text-primary">
	Seleccione la categoría del solicitud.
	Si no sabe qué categoría seleccionar, puede dejar este campo en blanco.
</p>
{{ form_widget(res.FormularioEditar.Categoria) }}

&nbsp;<br />

<p class="text-primary">
	Si quiere que nos pongamos en contacto con Usted por favor escriba sus datos de contacto a continuación.
	Si prefiere hacer un reclamo anónimo, puede dejar estos campos en blanco.
</p>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
            {{ form_widget(res.FormularioEditar.UsuarioNombre) }}
            {{ form_widget(res.FormularioEditar.UsuarioEmail) }}
		</div>
		<div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
            {{ form_widget(res.FormularioEditar.UsuarioDireccion) }}
            {{ form_widget(res.FormularioEditar.UsuarioTelefono) }}
		</div>
	</div>
</div>

&nbsp;<br />

<button type="submit" value="Guardar" class="btn btn-lg btn-success">
	<i class="fa fa-check"></i> Enviar
</button>

{{ form_rest(res.FormularioEditar) }}

</form>

</div>
{% endblock %}
