{% extends 'TapirAbmBundle::ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{% if res.Entidad.id %}{{ res.Entidad }}{% else %}Nuevo requerimiento{% endif %}
{% endblock pagina_titulo %}

{% block pagina_contenido %}
<style>
.bubble {
    position: relative;
    min-height: 60px;
    padding: 10px;
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: silver solid 1px;
    margin-bottom: 10px;
}

.bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 15px 9px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 20px;
}

.bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 15px 9px 0;
    border-color: transparent silver;
    display: block;
    width: 0;
    z-index: 0;
    left: -16px;
    top: 20px;
}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8">
		    {% if res.Entidad.Prioridad == 2 %}<span class="label label-danger">Prioridad alta</span>{% endif %}
		    {#<div id="edit-inplace-notas" data-toggle="inplace-edit" class="inplace-edit-text" data-control="textarea"
		  		href="{{ path(res.ObtenerRutaAccion('editarcampo'), res.Arrastre|merge(
		  		    { 'id': res.Entidad.id, 'nombrecampo': 'Notas' })) }}"> #}
	  		
	  		<h3>Descripción</h3>
	  		<p class="lead">{{ res.Entidad.Notas }}</p>
	  		
	  		{% if res.Entidad.Obs %}
	  			<h3>Observaciones</h3>
	  			<p>{{ res.Entidad.Obs }}</p>
	  		{% endif %}

		    <p class="help-block">Creado por {% if res.Entidad.Usuario %}
			        {{ res.Entidad.Usuario.NombreAmigable }}
			    {% elseif res.Entidad.UsuarioNombre %}
			    	visitante identificado como {{ res.Entidad.UsuarioNombre }}
			    {% else %}
			    	un visitante anónimo vía web
			    {% endif %} el {{ res.Entidad.createdAt|tapir_fecha|lower }}
			    ({{ res.Entidad.createdAt|tapir_hacetiempo }}).
			    {% if res.Entidad.Estado < 80 %}
			    La última novedad fue {{ res.Entidad.updatedAt|tapir_hacetiempo }}.
			    {% endif %}
		  	</p>
		
		
            {% if tapir_hasanyrole('ROLE_REQUERIMIENTOS_ENCARGADO,ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
            &nbsp;<br />
            <div class="hidden-print">
                {% if res.Entidad.Encargado and res.Entidad.Encargado == app.user 
                    and not tapir_hasanyrole('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
                    <a class="btn btn-default hidden-print" href="{{ path(res.ObtenerRutaAccion('rechazar'), 
                        res.Arrastre|merge({ 'id': res.Entidad.id, 'hisapi': 0 })) }}"
                    	data-toggle="modal"><i class="fa fa-hand-o-right"></i> Rechazar asignación</a>
                {% elseif res.Entidad.Estado < 80 and tapir_hasanyrole('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
                    {% if not res.Entidad.Categoria %}
                     	<a class="btn btn-warning" data-toggle="modal"
                     		href="{{ path(res.ObtenerRutaAccion('modificardato'), res.Arrastre|merge({'id': res.Entidad.id, 'campo_nombre': 'Categoria'})) }}">
                     		<i class="fa fa-hand-o-left"></i> Asignar categoría</a>
                    {% endif %}
            
                    {% if not res.Entidad.Encargado %}
                        <a class="btn btn-warning hidden-print" href="{{ path(res.ObtenerRutaAccion('asignar'), 
                            res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
                        	data-toggle="modal"><i class="fa fa-user"></i> Asignar encargado</a>
                    {% endif %}
                {% endif %}
    			{% if not res.Entidad.Encargado and not res.Entidad.Encargado and not res.Entidad.Categoria %}
    				<p class="small hidden-print">Es preferible asignar una categoría antes de asignar un encargado. Al asignar una
    					categoría, el sistema puede asignar un encargado automáticamente, siempre que se haya definido
    					un encargado para la categoría seleccionada.</p>
    			{% endif %}
            </div>
            {% endif %}
		</div>
		
		<div class="col-xs-12 col-sm-12 col-md-4 col-separator-left">
			<div class="text-value text-primary">
			    {% if res.Entidad.Categoria %}
                    <span class="hidden-md hidden-lg">Categoría: </span> {{ res.Entidad.Categoria }}
                {% else %}
                	Sin categoría
                {% endif %}
                {% if tapir_hasanyrole('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
                  <a class="btn btn-link btn-sm showonhover hidden-print" data-toggle="modal"
                  	href="{{ path(res.ObtenerRutaAccion('modificardato'),
                  	    res.Arrastre|merge({ 'id': res.Entidad.id, 'campo_nombre': 'Categoria' })) }}">
                  	<i class="fa fa-edit"></i> {% if res.Entidad.Categoria %}Cambiar{% else %}Asignar{% endif %}</a>
                {% endif %}
			</div>

			<div class="text-value">{% if res.Entidad.Estado == 0 %}<i class="fa fa-fw fa-asterisk text-danger"></i>
                {% elseif res.Entidad.Estado == 10 %}<i class="fa fa-fw fa-play text-success"></i>
                {% elseif res.Entidad.Estado == 20 %}<i class="fa fa-fw fa-clock-o text-danger"></i>
                {% elseif res.Entidad.Estado == 90 %}<i class="fa fa-fw fa-check text-muted"></i>
                {% elseif res.Entidad.Estado == 99 %}<i class="fa fa-fw fa-flag-checkered text-muted"></i>
                {% else %}<i class="fa fa-fw"></i>
                {% endif %}
                {{ res.Entidad.EstadoNombre }},
				prioridad {{ res.Entidad.PrioridadNombre }}.</div>

            {% if res.Entidad.Encargado %}
            	<div class="text-value">El encargado es {{ res.Entidad.Encargado }}.</div>
            {% else %}
            	<div class="text-value"><span class="text-danger"><i class="fa fa-fw fa-warning"></i>
            		El requerimiento no tiene un encargado.</span>
            		{% if res.Entidad.Estado < 80 and tapir_hasanyrole('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
            			<p class="text-info small hidden-print">Debe asignar {% if not res.Entidad.Categoria %}una categoría o{% endif %} un encargado cuanto antes para que la
            			solicitud pueda ser atendida o usted -como administrador- puede atender la solicitud
            			personalmente.</p> 
            		{% endif %}
            		</div>
            {% endif %}
            
            <div class="text-value small">{% if res.Entidad.Usuario is null %}
            	Esta solicitud puede ser monitoreada de forma anónima desde el sitio web del Municipio, con el número de
            	seguimiento: <a target="_blank" href="http://yacare.dir.riogrande.gob.ar/requerimientos/requerimiento/anonimo/ver/?seg={{ res.Entidad.SeguimientoNumero }}">{{ res.Entidad.SeguimientoNumero }}</a>
            {% else %}
            <div class="text-value small">La solicitud no tiene seguimiento desde la web porque fue iniciada
            	por un usuario interno.</div>
            {% endif %}</div>
		</div>

	</div>
</div>


<h2 class="row-header">Novedades</h2>
<div class="container-fluid">
{% if form_novedad is defined and app.user is defined %}
{{ form_start(form_novedad, { 'action': path('yacare_requerimientos_novedad_publicar'), 'method': 'POST', 
    'attr': { 'id': 'form_novedad', 'data-toggle': 'ajax-form', 'data-target': '#nuevocomentario' } }) }}
    <div class="row hidden-print">
        <div class="col-xs-2 text-center">
        	<i class="fa fa-user fa-2x text-left text-info"></i>
        	<br />
        	<small>{{ app.user.NombreAmigable }}</small>
        </div>
        <div class="col-xs-10 bubblea" id="nuevocomentario">
            {{ form_errors(form_novedad) }}
            {{ form_widget(form_novedad._token) }}
            {{ form_widget(form_novedad.Notas, { 'attr': 
                { 'placeholder': 'Publicar un comentario...', 'autofocus': 'autofocus' } }) }}
            {{ form_widget(form_novedad.Privada, { 'attr': { 'class': 'btn-xs' } }) }}
            {{ form_rest(form_novedad) }}
            <button type="submit" class="btn btn-xs btn-default pull-right">
            	<i class="fa fa-comment-o"></i> Publicar</button>
            
            <div id="advertencia_publico" class="text-danger text-justified">¡Atención! Los comentarios públicos se muestran en el
            	sitio web del Municipio y pueden ser vistos por el usuario que hizo la solicitud
            	{%- if res.Entidad.Usuario %}
			        ({{ res.Entidad.Usuario.NombreAmigable }})
			    {%- elseif res.Entidad.UsuarioNombre %}
			    	(visitante externo identificado como {{ res.Entidad.UsuarioNombre }})
			    {%- else %}
			    	o cualquiera que tenga el número de seguimiento
			    {%- endif -%}. No utilice los comentarios públicos para comunicaciones internas.</div>
        </div>
        
    </div>
    <script>
        $('#novedad_Notas').keypress(function (e) {
            if (e.which === 13) {
                e.preventDefault();
                $('form#form_novedad').submit();
                return false;
            }
        });
        $('#novedad_Privada').change(function(e) {
            if($(this).val() == 1) { 
            	$('#advertencia_publico').hide();
            } else {
            	$('#advertencia_publico').show();
            }
        }).change();
    </script>
    {{ form_end(form_novedad) }}
    <hr class="hidden-print" />
{% endif %}

{% if res.Entidad.Novedades|length == 0 %}
    <p> No hay novedades ni comentarios. 
        {% if form_novedad is defined %}Puede ser el primero en agregar uno.{% endif %}</p>
{% else %}
	{% set ultimanovedad = false %}
    {% for novedad in res.Entidad.Novedades|reverse %}
    	{% if ultimanovedad == false or ultimanovedad.Usuario != novedad.Usuario %}
    	{% if ultimanovedad != false %}</div></div>{% endif %}
        <div class="row">
            <div class="col-xs-2 text-center">
            	<i class="fa fa-user fa-2x text-muted"
            		title="{% if novedad.Usuario %}{{ novedad.Usuario }}{% endif %}"></i><br />
            	<small title="{% if novedad.Usuario %}{{ novedad.Usuario }}{% endif %}">{% if novedad.Usuario %}
    			        {{ novedad.Usuario.NombreAmigable }}
    			    {% elseif res.Entidad.UsuarioNombre %}
    			    	{{ res.Entidad.UsuarioNombre }}
    			    {% else %}
    			    	Usuario anónimo vía web
    			    {% endif %}</small></div>
            <div class="col-xs-10 bubble">
        {% endif %}
        <p {% if novedad.Automatica %}class="text-muted"{% endif %}>
            {% if novedad.Privada %}<i class="fa fa-eye-slash text-info"></i>{% endif %}
            {{ novedad.Notas }}
            <small class="text-muted" data-toggle="tooltip" data-placement="bottom"
            	title="{{ novedad.createdAt|tapir_fecha }}"> ({{ novedad.createdAt|tapir_hacetiempo }})</small>
        </p>
        {% set ultimanovedad = novedad %}
    {% endfor %}
    </div></div>
{% endif %}

    &nbsp;
</div>
{% endblock pagina_contenido %}

{% block pagina_acciones %}
{% if res.Entidad.Estado < 80 and tapir_hasanyrole('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cambiar <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
  {% if res.Entidad.Categoria %}
    	<li><a data-toggle="modal"
     		href="{{ path(res.ObtenerRutaAccion('modificardato'), res.Arrastre|merge({'id': res.Entidad.id, 'campo_nombre': 'Categoria'})) }}">
     		<i class="fa fa-hand-o-left"></i> Cambiar categoría</a>
    {% endif %}

    {% if res.Entidad.Encargado %}
        <li><a href="{{ path(res.ObtenerRutaAccion('asignar'), 
            res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
        	data-toggle="modal"><i class="fa fa-user"></i> Cambiar encargado</a>
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="btn-group">
  <button type="button" class="btn {% if res.Entidad.Estado >= 80 %}btn-default {% else %}btn-success {% endif %}dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Avance <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
  	<li class="dropdown-header">{{ res.Entidad.EstadoNombre }}</li>
{% if res.Entidad.Estado == 0 %}
    {# Nuevo #}
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 10, 'hisapi': 0 })) }}"
        data-toggle="ajax-link" ><i class="fa fa-fw fa-play"></i> Iniciar</a>
     <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 90, 'hisapi': 0 })) }}"
        data-toggle="ajax-link" ><i class="fa fa-fw fa-check"></i> Terminar</a>
    <li role="separator" class="divider"></li>
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 80, 'hisapi': 0 })) }}"
        data-toggle="ajax-link"><i class="fa fa-fw fa-times"></i> Cancelar</a>
{% endif %}
{% if res.Entidad.Estado == 10 %}
    {# Iniciado #}
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 20, 'hisapi': 0 })) }}" 
   		data-toggle="ajax-link"  ><i class="fa fa-fw fa-refresh"></i> Poner en espera</a>
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({'id': res.Entidad.id, 'nuevoestado': 90, 'hisapi': 0 }))  }}"
    	data-toggle="ajax-link" ><i class="fa fa-fw fa-check"></i> Terminar</a>
{% endif %}
{% if res.Entidad.Estado == 20 %}
    {# En espera #}
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 10, 'hisapi': 0 })) }}"
    	data-toggle="ajax-link" ><i class="fa fa-fw fa-play"></i> Continuar</a>
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({'id': res.Entidad.id, 'nuevoestado': 90, 'hisapi': 0 })) }}"
    	data-toggle="ajax-link" ><i class="fa fa-fw fa-check"></i> Terminar</a>
{% endif %}
{% if res.Entidad.Estado == 90 %}
    {# Terminado #}
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 99, 'hisapi': 0 })) }}"
    	data-toggle="ajax-link" ><i class="fa fa-fw fa-flag-checkered"></i> Cerrar y archivar</a>
{% endif %}
{% if res.Entidad.Estado >= 80 and tapir_hasanyrole('ROLE_REQUERIMIENTOS_ADMINISTRADOR') %}
    {# Cerrado #}
    <li><a href="{{ path(res.ObtenerRutaAccion('cambiarestado'), 
        res.Arrastre|merge({ 'id': res.Entidad.id, 'nuevoestado': 10, 'hisapi': 0 })) }}"
    	data-toggle="ajax-link" ><i class="fa fa-fw fa-refresh"></i> Reabrir</a>
{% endif %}
  </ul>
</div>
{% endblock pagina_acciones %}

