{% extends "TapirAbmBundle::inicio.html.twig" %}

{% block pagina_titulo %}Tr치mites{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid"><div class="row">

    <div class="col-sm-8">
        <h2>Requisitos</h2>
        <ul class="inicio-mini-menu">
        	<li class="destacado"><p>Actividad reciente</p></li>
        	{% for item in res.Recientes['Requisito'] %}
        		<li><a href="{{ path('yacare_tramites_requisito_editar', res.Arrastre|merge({ id: item.id })) }}"
        			data-toggle="ajax-link">{{ item }}</span></a></li>
        	{% endfor %}
        	    
        	<li class="destacado"><a href="{{ path('yacare_tramites_requisito_listar') }}" 
        		data-toggle="ajax-link">Todos los requisitos</a></li>
        	
        	<li><form id ="form_requisito_buscar" class="form-horizontal" 
        		action="{{ path('yacare_tramites_requisito_listar')}}" method="get">
                <input type="text" name="filtro_buscar" class="form-control pull-rigth" 
                	placeholder="buscar requisitos" /></form></li>
        </ul>
    </div>
    
    
    <div class="col-sm-4">
        <h2>Tipos de tr치mites</h2>
        <ul class="inicio-mini-menu">
        	<li class="destacado"><p>Actividad reciente</p></li>
        	{% for item in res.Recientes['TramiteTipo'] %}
        		<li><a href="{{ path('yacare_tramites_tramitetipo_editar', res.Arrastre|merge({ id: item.id })) }}"
        			data-toggle="ajax-link">{{ item }}</span></a></li>
        	{% endfor %}
        	    
        	<li class="destacado"><a href="{{ path('yacare_tramites_tramitetipo_listar') }}" 
        		data-toggle="ajax-link">Todos los tipos de tr치mite</a></li>
        	
        	<li><form id ="form_tramitetipo_buscar" class="form-horizontal" 
        		action="{{ path('yacare_tramites_tramitetipo_listar')}}" method="get">
                <input type="text" name="filtro_buscar" class="form-control pull-rigth" 
                	placeholder="buscar tipos de tr치mite" /></form></li>
        </ul>
    </div>
    
    
    <div class="col-sm-4">
        <h2>Tipos de comprobantes</h2>
        <ul class="inicio-mini-menu">
        	<li class="destacado"><p>Actividad reciente</p></li>
        	{% for item in res.Recientes['ComprobanteTipo'] %}
        		<li><a href="{{ path('yacare_tramites_comprobantetipo_editar', res.Arrastre|merge({ id: item.id })) }}"
        			data-toggle="ajax-link">{{ item }}</span></a></li>
        	{% endfor %}
        	    
        	<li class="destacado"><a href="{{ path('yacare_tramites_comprobantetipo_listar') }}" 
        		data-toggle="ajax-link">Todos los tipos de comprobante</a></li>
        	
        	<li><form id ="form_comprobantetipo_buscar" class="form-horizontal" 
        		action="{{ path('yacare_tramites_comprobantetipo_listar')}}" method="get">
                <input type="text" name="filtro_buscar" class="form-control pull-rigth" 
                	placeholder="buscar tipos de comprobante" /></form></li>
        </ul>
    </div>
    
    
</div></div>
{% endblock %}