{% extends 'TapirAbmBundle::inicio.html.twig' %}

{% block pagina_titulo %}Requerimientos{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid"><div class="row">

{% if is_expr_granted("hasAnyRole('ROLE_REQUERIMIENTOS_ADMINISTRADOR')") and res.Recientes['RequerimientosSinEncargado'] %}
<div class="col-sm-4">
    <h2><i class="fa fa-fw fa-ticket text-muted"></i> Requerimientos nuevos</h2>
    <ul class="inicio-mini-menu">
    	<li><p class="text-danger">Los siguientes requerimientos deben ser atendidos inmediatamente:</p></li>
    	{% for requerimiento in res.Recientes['RequerimientosSinEncargado'] %}
    		<li><a href="{{ path('yacare_requerimientos_requerimiento_ver', res.Arrastre|merge({ id: requerimiento.id })) }}" data-toggle="ajax-link">{{ requerimiento }}</a></li>
    	{% endfor %}

    	<li><p class="text-justified small">Usted, como administrador de requerimientos debería asignar un encargado a
    		cada uno de ellos o puede atenderlos personalmente.</p></li>
    </ul>
</div>
{% endif %}

<div class="col-sm-4">
    <h2><i class="fa fa-fw fa-ticket text-muted"></i> Mis requerimientos</h2>
    <ul class="inicio-mini-menu">
{% if res.Recientes['RequerimientosUsuario']|length > 0 %}
    	<li><p>Actividad reciente en requerimientos que yo inicié:</p></li>
    	{% for requerimiento in res.Recientes['RequerimientosUsuario'] %}
    		<li><a href="{{ path('yacare_requerimientos_requerimiento_ver', res.Arrastre|merge({ id: requerimiento.id })) }}" data-toggle="ajax-link">{{ requerimiento }}</a></li>
    	{% endfor %}
{% else %}
			<li><p>No tiene requerimientos pendientes.</p></li>
{% endif %}
    	<li class="destacado"><a href="{{ path('yacare_requerimientos_requerimiento_listar') }}" data-toggle="ajax-link">
    		Todos mis requerimientos</a></li>
		<li class="destacado"><a href="{{ path('yacare_requerimientos_requerimiento_asistentecrear') }}" data-toggle="ajax-link">
    		Iniciar nuevo requerimiento</a></li>
    </ul>
</div>

{% if res.Recientes['RequerimientosEncargado']|length > 0 %}
<div class="col-sm-4">
    <h2><i class="fa fa-fw fa-ticket text-muted"></i> Requerimientos asignados</h2>
    <ul class="inicio-mini-menu">
    	<li><p>Actividad reciente en requerimientos que me asignaron y de los cuales estoy encargado:</p></li>
    	{% for requerimiento in res.Recientes['RequerimientosEncargado'] %}
    		<li><a href="{{ path('yacare_requerimientos_requerimiento_ver', res.Arrastre|merge({ id: requerimiento.id })) }}" data-toggle="ajax-link">{{ requerimiento }}</a></li>
    	{% endfor %}
    	
    	<li class="destacado"><a href="{{ path('yacare_requerimientos_requerimiento_listar') }}" data-toggle="ajax-link">
    		Todos los requerimientos que tengo asignados</a></li>
    </ul>
</div>
{% endif %}

{% if is_expr_granted("hasAnyRole('ROLE_REQUERIMIENTOS_ADMINISTRADOR')") %}
<div class="col-sm-4">
    <h2>Administración</h2>
    <ul class="inicio-mini-menu">
    	<li class="destacado"><a href="{{ path('yacare_requerimientos_categoria_listar') }}" data-toggle="ajax-link">
    		Categorías</a></li>
    </ul>
</div>
{% endif %}

</div></div>
{% endblock pagina_contenido %}
