{% extends 'TapirAbmBundle::inicio.html.twig' %}

{% block pagina_titulo %}Obras Particulares{% endblock %}

{% block pagina_contenido %}

<div class="container-fluid"><div class="row">

<div class="col-sm-4">
    <h2>Actas de obra</h2>
    <ul class="inicio-mini-menu">
    	<li class="destacado"><p>Actividad reciente</p></li>
    	{% for item in res.Recientes['ActaObra'] %}
    		<li><a href="{{ path('yacare_obrasparticulares_actaobra_ver', res.Arrastre|merge({ id: item.id })) }}"
    			data-toggle="ajax-link">{{ item }}</a></li>
    	{% endfor %}

    	<li class="destacado"><a href="{{ path('yacare_obrasparticulares_actaobra_listar') }}" data-toggle="ajax-link">
    		Todos las actas</a></li>
    	
    	<li><form id ="form_actabora_buscar" class="form-horizontal" action="{{ path('yacare_obrasparticulares_actaobra_listar')}}" 
                	method="get">
            <input type="text" name="filtro_buscar" class="form-control pull-rigth" placeholder="buscar acta" />
            </form></li>
    </ul>
</div>

<div class="col-sm-4">
    <h2>Matriculados</h2>
    <ul class="inicio-mini-menu">
    	<li class="destacado"><p>Actividad reciente</p></li>
    	{% for item in res.Recientes['Matriculado'] %}
    		<li><a href="{{ path('yacare_obrasparticulares_matriculado_editar', res.Arrastre|merge({ id: item.id })) }}"
    			data-toggle="ajax-link">{{ item }}</a></li>
    	{% endfor %}

    	<li class="destacado"><a href="{{ path('yacare_obrasparticulares_matriculado_listar') }}" data-toggle="ajax-link">
    		Todos las actas</a></li>
    	
    	<li><form id ="form_matriculado_buscar" class="form-horizontal" action="{{ path('yacare_obrasparticulares_matriculado_listar')}}" 
                	method="get">
            <input type="text" name="filtro_buscar" class="form-control pull-rigth" placeholder="buscar matriculado" />
            </form></li>
    </ul>
</div>


<div class="col-sm-4">
    <h2>Empresas constructoras</h2>
    <ul class="inicio-mini-menu">
    	<li class="destacado"><p>Actividad reciente</p></li>
    	{% for item in res.Recientes['EmpresaConstructora'] %}
    		<li><a href="{{ path('yacare_obrasparticulares_empresaconstructora_editar', res.Arrastre|merge({ id: item.id })) }}"
    			data-toggle="ajax-link">{{ item }}</a></li>
    	{% endfor %}

    	<li class="destacado"><a href="{{ path('yacare_obrasparticulares_empresaconstructora_listar') }}" data-toggle="ajax-link">
    		Todos las actas</a></li>
    	
    	<li><form id ="form_empresaconstructora_buscar" class="form-horizontal" action="{{ path('yacare_obrasparticulares_empresaconstructora_listar')}}" 
                	method="get">
            <input type="text" name="filtro_buscar" class="form-control pull-rigth" placeholder="buscar empresa" />
            </form></li>
    </ul>
</div>


</div></div>
{% endblock pagina_contenido%}
