{% extends 'TapirAbmBundle::inicio.html.twig' %}

{% block pagina_titulo %}Obras Particulares{% endblock %}

{% block pagina_contenido %}

<div class="container-fluid"><div class="row">

	<div class="col-md-4 col-sm-6 col-xs-12"><div class="panel panel-green">
        <div class="panel-heading">
        	<h2 class="panel-title">Actas de obra</h2>
        </div>
        <div class="panel-body">
            <p>Acceso a la nómina de actas de obra realizadas.</p>
            <input type="text" class="form-control pull-rigth" placeholder="buscar por apellido o número de acta" />
        </div>
        <ul class="list-group">
            <a class="list-group-item" data-toggle="ajax-link"
            	href="{{ path('yacare_obrasparticulares_actaobra_listar', res.Arrastre) }}">Actas
            	de obra <span class="badge">{{ res.Contadores['ActaObra'] }}</span></a>
            <a class="list-group-item list-group-item-success" data-toggle="ajax-link"
            	href="{{ path('yacare_obrasparticulares_actaobra_editar_1', res.Arrastre) }}"><i
            	class="fa fa-plus"></i> Ingresar acta nueva</a>
        </ul>
    </div></div>
    
    <div class="col-md-4 col-sm-6 col-xs-12"><div class="panel panel-yellow">
        <div class="panel-heading">
        	<h2 class="panel-title">Trámites</h2>
        </div>
        <div class="panel-body">
        	Trámites en curso y archivo histórico.
        </div>
        <ul class="list-group">
        	<a class="list-group-item" data-toggle="ajax-link"
        		href="{{ path('yacare_obrasparticulares_tramitecat_listar', res.Arrastre)  }}">CAT edilicia
        		<span class="badge">{{ res.Contadores['TramiteCat'] }}</span></a>
        	<a class="list-group-item" data-toggle="ajax-link"
        		href="{{ path('#', res.Arrastre)  }}">Aprobación de planos
        		<span class="badge">{{ res.Contadores['TramitePlanos'] }}</span></a>
        </ul>
    </div></div>
    
    <div class="col-md-4 col-sm-6 col-xs-12"><div class="panel panel-info">
        <div class="panel-heading">
        	<h2 class="panel-title">Matriculados</h2>
        </div>
        <div class="panel-body">
        	Profesionales matriculados y empresas de construcción. 
        </div>
        <ul class="list-group">
        	<a class="list-group-item" data-toggle="ajax-link"
        		href="{{ path('yacare_obrasparticulares_matriculado_listar', res.Arrastre)  }}">Profesionales
        		matriculados <span class="badge">{{ res.Contadores['Matriculado'] }}</span></a>
        	<a class="list-group-item" data-toggle="ajax-link"
        		href="{{ path('yacare_obrasparticulares_empresaconstructora_listar', res.Arrastre)  }}">Empresas
        		constructoras <span class="badge">{{ res.Contadores['EmpresaConstructora'] }}</span></a>
        </ul>
    </div></div>

</div></div>
{% endblock %}
