{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}
{% import 'YacareBaseBundle:Default:macros_yacare.html.twig' as my %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-8 col-xs-12">
			{{ bs.grid_label_text('Nombre de fantasía', res.Entidad.Nombre, 'text-value-strong') }}
			{{ bs.grid_label_text('Titular', res.Entidad.Titular) }}
			{{ bs.grid_label_text('Apoderado', res.Entidad.Apoderado) }}
			{% if res.Entidad.DomicilioReal %}
			    {% if res.Entidad.Domicilio and res.Entidad.Local %}
			        {{ bs.grid_label_text('Local', res.Entidad.Local, 'text-danger') }}
			        {{ bs.grid_label_text('Domicilio declarado', res.Entidad.DomicilioReal) }}
			    {% else %}
			    	{{ bs.grid_label_text('Domicilio legal', res.Entidad.DomicilioReal) }}
			    {% endif %}
			{% else %}
				{{ bs.grid_label_text('Domicilio', 'n/a') }}
			{% endif %}
			{% if res.Entidad.CreadoPor %}
			    {{ bs.grid_label_text('Dado de alta por', res.Entidad.CreadoPor) }}
			{% endif %}
		</div>
		<div class="col-sm-4 col-xs-12 col-separator-left">
			{{ bs.grid_label_text66('Expediente', res.Entidad.ExpedienteNumero) }}
			{{ bs.grid_label_text66('Resolución', res.Entidad.ActoAdministrativoNumero) }}
			{{ bs.grid_label_text66('Archivo', res.Entidad.PosicionArchivo) }}
			{{ bs.grid_label_text66('Estado', res.Entidad.EstadoNombre) }}
			{% if res.Entidad.FechaBaja %}
				{{ bs.grid_label_text66('Fecha de baja', res.Entidad.FechaBaja|tapir_fecha('medium', 'none')) }}
			{% else %}
				{{ bs.grid_label_text66('Fecha de habilitación', res.Entidad.FechaHabilitacion|tapir_fecha('medium', 'none')) }}
			{% endif %}
		</div>
		
		{% if res.Entidad.Obs %}
		<div class="col-sm-12">
			<h2 class="row-header">Observaciones</h2>
			<p>{{ res.Entidad.Obs }}</p>
		</div>
		{% endif %}
	</div>
	
	<h2 class="row-header">Actividades</h2>
	<div class="row">
		<div class="col-xs-12">
			{{ bs.grid_label_text(res.Entidad.Actividad1.Clamae2014, res.Entidad.Actividad1) }}
			{% if res.Entidad.Actividad2 %}
                {{ bs.grid_label_text(res.Entidad.Actividad2.Clamae2014, res.Entidad.Actividad2) }}
            {% endif %}
            {% if res.Entidad.Actividad3 %}
                {{ bs.grid_label_text(res.Entidad.Actividad3.Clamae2014, res.Entidad.Actividad3) }}
            {% endif %}
            {% if res.Entidad.Actividad4 %}
                {{ bs.grid_label_text(res.Entidad.Actividad4.Clamae2014, res.Entidad.Actividad4) }}
            {% endif %}
            {% if res.Entidad.Actividad5 %}
                {{ bs.grid_label_text(res.Entidad.Actividad5.Clamae2014, res.Entidad.Actividad5) }}
            {% endif %}
            {% if res.Entidad.Actividad6 %}
                {{ bs.grid_label_text(res.Entidad.Actividad6.Clamae2014, res.Entidad.Actividad6) }}
            {% endif %}
		</div>
	</div>

	{% if res.Entidad.local %}
	<h2 class="row-header">Local comercial</h2>
	<div class="row">
		<div class="col-sm-4 col-xs-12">
	        {{ bs.grid_label_text66('Tipo', res.Entidad.Local.Tipo) }}
	        {{ bs.grid_label_text66('Clase', res.Entidad.Local.DepositoClase) }}
	        {{ bs.grid_label_text66('Superficie', res.Entidad.Local.Superficie ~ ' m²') }}
	        	        
	        {% if res.Entidad.Local.Partida %}
    	    </div>
    	    <div class="col-sm-8 col-xs-12 col-separator-left">
                {{ bs.grid_label_text('Propietario', res.Entidad.Local.Partida.Titular) }}
    	        {{ bs.grid_label_text('Domicilio', res.Entidad.Local.Partida.Domicilio) }}
    	    	{{ bs.grid_label_text('Partida', res.Entidad.Local.Partida.Smpu) }}
    	        {{ bs.grid_label_text('Zonificación', res.Entidad.Local.Partida.Zona) }}
	        {% endif %}
			</div>
	</div>
	{% endif %}
	
	{% if res.Entidad.CertificadoHabilitacion %}
	<div class="row"><h2 class="row-header">Certificado de habilitación
		<div class="pull-right hidden-print">
    		<a data-toggle="modal" href="{{ path('yacare_comercio_certificadohabilitacioncomercial_ver',
    		        { 'id': res.Entidad.CertificadoHabilitacion.Id }) }}" 
    				class="btn btn-sm btn-info"><i class="fa fa-file-o"></i> Ver certificado</a>
		</div>
	</h2></div>
	<div class="row">
		<div class="col-sm-6 col-xs-12">
	        {{ bs.grid_label_text('Número', res.Entidad.CertificadoHabilitacion.Numero) }}
	        {{ bs.grid_label_text('Fecha de emisión', 
	            res.Entidad.CertificadoHabilitacion.createdAt|tapir_fecha('medium', 'none')) }}
	        {{ bs.grid_label_text('Vencimiento', 
	            res.Entidad.CertificadoHabilitacion.FechaValidezHasta|tapir_fecha('medium', 'none')) }}
		</div>
		<div class="col-sm-6 col-xs-12">
			{# ///////////////////// #}
		</div>
	</div>
	{% endif %}
	
	<div class="row"><div class="col-xs-12"><br />
    	<p>
    	{% if res.Entidad.Estado == 100 %}La habilitación está vigente.
        {% elseif res.Entidad.Estado == 91 %}La habilitación está vencida.
        {% elseif res.Entidad.Estado == 90 %}Fue observado como cerrado y sin actividad.
        {% elseif res.Entidad.Estado == 1 %}La habilitación está en trámite.
        {% elseif res.Entidad.Estado == 0 %}No está habilitado para operar.
        {% endif %}
    	
    	El comercio
        {% if res.Entidad.CertificadoHabilitacion %}cuenta con un certificado de habilitación con vencimiento el día
            {{ res.Entidad.CertificadoHabilitacion.FechaValidezHasta|tapir_fecha('full', 'none')|lower }}
        {% elseif res.Entidad.Estado == 100 %}fue dado de alta manualmente y no cuenta con un certificado de habilitación
        {% else %}no cuenta con un certificado de habilitación
        {% endif %}
        emitido en el sistema actual.        
	</div></div>

<h2 class="row-header">Actas</h2>
<table class="table table-reponsive table-hoverselect">
	<thead>
		<tr>
			<th class="text-right">Nº</th>
			<th>Tipo</th>
			<th>Fecha</th>
			<th>Etiquetas</th>
		</tr>
	</thead>
	<tbody>
		{% for entidad in res.Entidad.Actas %}
		<tr data-toggle="ajax-link" href="{{ path('yacare_comercio_actacomercio_ver', { 'id': entidad.Id }) }}">
			<td class="text-right">{{ entidad.Numero }}</td>
			<td>{{ entidad.SubTipo }}</td>
			<td>{{ entidad.Fecha|tapir_fecha('medium', 'none') }}</td>
			<td>{% for etiqueta in entidad.Etiquetas %}
			    <mark>{{ etiqueta }}</mark>
			{% endfor %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% if res.Entidad.Actas|length == 0 %}
	<p>Aun no se cargaron actas para este comercio.</p>
{% endif %}

</div>
{% endblock %}

{% block pagina_acciones %}
	{% include 'YacareBaseBundle:ConRequiereAtencion:boton.html.twig' %}
{% if is_granted('ROLE_COMERCIO_ADMINISTRADOR', 'ROLE_COMERCIO_INSPECTOR') %}
    <a data-toggle="ajax-link" class="btn btn-default"
    	href="{{ path('yacare_comercio_actacomercio_editar_1', { 'comercio': res.Entidad.Id }) }}">
    	<i class="fa fa-plus"></i> Nueva acta</a>
{% endif %}
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
{% if is_granted('ROLE_COMERCIO_ADMINISTRADOR') %}
	<div class="pull-right">
    <a data-toggle="ajax-link" class="btn btn-default"
    	href="{{ path(res.ObtenerRutaAccion('editar'), { 'id': res.Entidad.Id }) }}">
    	<i class="fa fa-edit"></i> Editar</a>
	</div>
{% endif %}
{% endblock %}
