{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Solicitud de modificación{% endblock %}

{% block pagina_inicio %}
    {{ form_start(res.FormularioEditar, {
            'action': path(res.ObtenerRutaAccionGuardar, res.Arrastre|merge({ 'id': res.Entidad.id, 
            	'campo_nombre': campo_nombre, 'hisapi': 0 })),
            'method': 'POST',
            'attr': { 'id': res.FormularioEditar.vars.id }
        }) }}
{% endblock %}

{% block pagina_contenido %}
    {{ form_errors(res.FormularioEditar) }}
    {{ form_rest(res.FormularioEditar) }}
{% endblock pagina_contenido %}

{% block pagina_acciones %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Guardar</button>
{% endblock pagina_acciones %}

{% block pagina_fin %}
    {{ form_end(res.FormularioEditar, {'render_rest': false}) }}
{% endblock %}

{% block pagina_scripts %}
{{ parent() }}

<script>
$(function() {
	$('#form_Domicilio_DomicilioCalle').change(function(e) {
		if($('#form_Domicilio_DomicilioCalle').val() > 0) {
			$('#form_Domicilio_DomicilioCalleNombre').hide();
		} else {
			$('#form_Domicilio_DomicilioCalleNombre').show();
		}
	}).change();
});
</script>
{% endblock %}