{% extends 'TapirAbmBundle::listar.html.twig' %} {% block
pagina_titulo %}{{ entitylabelplural }}{% endblock %} {% block
pagina_contenido %}

<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Nombre alternativo</th>
			<th>Tipo</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr {% if tapir_hasanyrole('ROLE_CATASTRO_ADMINISTRADOR') %}
			data-toggle="ajax-link"
			href="{{ path(baseroute ~ '_editar', { 'id': entity.id }) }}"{% endif %}>
			<td><a href="{{ path('yacare_catastro_partida_listar', { filtro_calle: entity.id }) }}" data-toggle="ajax-link"><i class="fa fa-map-o"></i></a></td>
			<td>{{ entity.Nombre }}</td>
			<td>{{ entity.NombreAlternativo }}</td>
			<td>{{ entity.TipoNombre }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock %}
