{% extends 'TapirAbmBundle::editar.html.twig' %}

{% block pagina_titulo %}{% if entity.id %}
	{% if entity.Partida %}
		{{ entity.Partida.Domicilio }}
	{% else %}
		{{ entity }}
	{% endif %}
{% else %}
	Nuevo local
{% endif %}{% endblock %}

{% block pagina_contenido %}
<div class="row form-group">
	<label class="col-sm-2 control-label">Partida</label>
    <div class="col-sm-10">{{ form_widget(edit_form.Partida) }}</div>
</div>

<div class="row form-group">
	<label class="col-sm-2 control-label">Identificaci贸n</label>
    <div class="col-sm-10">
        {{ form_widget(edit_form.SubDomicilio) }}
        <span class="help-block"><span class="text-danger">No es para observaciones.</span> Opcional. Puede proporcionar
        	una identificaci贸n del local dentro del domicilio, por ejemplo: local, oficina o piso.</span>
    </div>
</div>

<div class="row form-group">
	<label class="col-sm-2 control-label">Tipo</label>
    <div class="col-sm-10">{{ form_widget(edit_form.Tipo) }}</div>
</div>

<div class="row form-group">
	<label class="col-xs-4 col-sm-2 control-label">Superficie total</label>
	<div class="col-xs-6 col-sm-2">
		<div class="input-group">
		    {{ form_widget(edit_form.Superficie) }}
    	    <div class="input-group-addon">m2</div>
		</div>
	</div>
	<label class="col-xs-4 col-sm-2 control-label">de los cuales</label>
	<div class="col-xs-4 col-sm-2">
		<div class="input-group">
            {{ form_widget(edit_form.SuperficieDeposito) }}
    	    <div class="input-group-addon">m2</div>
		</div>
	</div>
	<div class="col-xs-4 col-sm-2 control-label-left"> son dep贸sito</div>
</div>
{{ form_rest(edit_form) }}
{% endblock pagina_contenido %}

{% block pagina_scripts %}
<script>
$(function() {
    $('#yacare_comerciobundle_localtype_Tipo').change(function() {
        if($('#yacare_comerciobundle_localtype_Tipo').val() === 'Dep贸sito') {
            $('#yacare_comerciobundle_localtype_DepositoClase').prop('disabled', false);
        } else {
            $('#yacare_comerciobundle_localtype_DepositoClase').prop('disabled', true);
            $('#yacare_comerciobundle_localtype_DepositoClase').val('');
        }
    });
    $('#yacare_comerciobundle_localtype_Tipo').trigger('change');
});
</script>
{% endblock %}
