{% extends 'TapirAbmBundle::editar.html.twig' %}

{% block pagina_titulo %}{% if res.Entidad.id %}
	{% if res.Entidad.Partida %}
		{{ res.Entidad.Partida.Domicilio }}
	{% else %}
		{{ res.Entidad }}
	{% endif %}
{% else %}
	Nuevo local
{% endif %}{% endblock %}

{% block pagina_contenido %}
<div class="row form-group">
	<label class="col-sm-2 control-label">Partida</label>
    <div class="col-sm-10">{{ form_widget(res.FormularioEditar.Partida) }}</div>
    <div class="col-sm-10 col-sm-offset-2" id="local_domicilio_aviso" {% if res.Entidad.DomicilioCalle %}style="display: none"{% endif %}><p class="help-block">
    	<a href="#" onclick="$('#local_domicilio').show(); $('#local_domicilio_aviso').hide(); return false">Usar
    	un domicilio real diferente</a>.
    	Si el local tiene un número de puerta o domicilio diferente al domicilio catastral. Por ejemplo un local
    	grande puede tener varias puertas o ingresos y mientras que en catastro figura con un ingreso (ej. Thorne 123),
    	el ingreso principal es por otro domicilio (ej. Thorne 127). Incluso pueden estar en diferentes calles en caso
    	de esquina.</p>
	</div>
</div>
<script>
	$('#local_Partida').change(function() {
		$('#local_Domicilio').val('');
		$('#local_domicilio').hide();
		$('#local_domicilio_aviso').show();
	});
</script>

<div class="row form-group" id="local_domicilio" {% if not res.Entidad.DomicilioCalle %}style="display: none"{% endif %}>
	<label class="col-sm-2 control-label">Domicilio real</label>
    <div class="col-sm-10">{{ form_widget(res.FormularioEditar.Domicilio) }}</div>
    <div class="col-sm-10 col-sm-offset-2"><p class="help-block">Si el domicilio del inmueble es el mismo que figura en
    la partida, debe dejar este dato en blanco.</p></div>
</div>

<div class="row form-group">
	<label class="col-sm-2 control-label">Identificación</label>
    <div class="col-sm-10">
        {{ form_widget(res.FormularioEditar.SubDomicilio) }}
        <span class="help-block"><span class="text-danger">No es para observaciones.</span> Opcional. Puede proporcionar
        	una identificación del local dentro del domicilio, por ejemplo: "local 7", "oficina 3", etc.</span>
    </div>
</div>

<div class="row form-group">
	<label class="col-sm-2 control-label">Tipo</label>
    <div class="col-sm-10">{{ form_widget(res.FormularioEditar.Tipo) }}</div>
</div>

<div class="row form-group">
	<label class="col-xs-4 col-sm-2 control-label">Superficie total</label>
	<div class="col-xs-6 col-sm-2">
		<div class="input-group">
		    {{ form_widget(res.FormularioEditar.Superficie) }}
    	    <div class="input-group-addon">m2</div>
		</div>
	</div>
	<label class="col-xs-4 col-sm-2 control-label">de los cuales</label>
	<div class="col-xs-4 col-sm-2">
		<div class="input-group">
            {{ form_widget(res.FormularioEditar.SuperficieDeposito) }}
    	    <div class="input-group-addon">m2</div>
		</div>
	</div>
	<div class="col-xs-4 col-sm-2 control-label-left"> son depósito</div>
</div>
{{ form_rest(res.FormularioEditar) }}
{% endblock pagina_contenido %}

{% block pagina_scripts %}
<script>
$(function() {
    $('#yacare_comerciobundle_localtype_Tipo').change(function() {
        if($('#yacare_comerciobundle_localtype_Tipo').val() === 'Depósito') {
            $('#yacare_comerciobundle_localtype_DepositoClase').prop('disabled', false);
        } else {
            $('#yacare_comerciobundle_localtype_DepositoClase').prop('disabled', true);
            $('#yacare_comerciobundle_localtype_DepositoClase').val('');
        }
    });
    $('#yacare_comerciobundle_localtype_Tipo').trigger('change');
});
</script>
{% endblock %}
