{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}Importar {{ importando }}{% endblock %}

{% block pagina_contenido %}
    {% if resultado is defined %}
        {% if resultado.HayMasRegistros %}
    		<h2>Se están importando los registros...</h2>
    	{% else %}
    		<h2>Importación terminada</h2>
    	{% endif %}
    	
    	{% if resultado.RegistrosTotal %}
    	<div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" 
          		aria-valuenow="{{ resultado.PosicionCursor }}" aria-valuemin="0" aria-valuemax="{{ resultado.RegistrosTotal }}"
          		style="width: {{ ((resultado.PosicionCursor / resultado.RegistrosTotal) * 100)|round }}%">
          </div>
        </div>
        {% endif %}
        
        {% if resultado.HayMasRegistros %}
        	<p>Se procesaron {{ resultado.PosicionCursor }} registros,
        		que representan un {{ ((resultado.PosicionCursor / resultado.RegistrosTotal) * 100)|round }}%
        		del total de {{ resultado.RegistrosTotal }}.
        		En la última iteración se actualizaron 
        		{{ resultado.RegistrosActualizados }} y se importaron
        		{{ resultado.RegistrosNuevos }} nuevos.</p>
        {% else %}
        	<p>Se procesaron {{ resultado.PosicionCursor }} registros.</p>
        {% endif %}
    
<pre>{% for renglon in resultado.Mensajes %}
{{ renglon }}
{% endfor %}</pre>
    
    	{% if resultado.HayMasRegistros %}
    	<script>
    		if(window.YacareImportarDetener === true) {
        		window.location = '{{ path(baseroute ~ '_' ~ url, arrastre|merge({ 'iniciar': 0 })) }}';
        	} else {
    			tapirNavegarA("{{ path(baseroute ~ '_' ~ url, arrastre|merge({ 'iniciar': 1, 'desde': resultado.PosicionCursor }))|raw }}");
        	}
    	</script>
    	{% endif %}
    {% else %}
      	<p>Cuando esté listo para iniciar la importación, haga clic en el botón iniciar.</p>
    	<script>
    		window.YacareImportarDetener = false;
    	</script>
    {% endif %}
{% endblock %}

{% block pagina_acciones %}
{% if resultado is defined %}
    {% if resultado.HayMasRegistros == false %}
		<a data-toggle="ajax-link" onclick="window.YacareImportarDetener=true; return false;" href="{{ path(baseroute ~ '_' ~ url, arrastre|merge({ 'iniciar': 0 })) }}" class="btn btn-danger"><i class="fa fa-stop"></i> Detener</a>
	{% else %}
		<a data-toggle="ajax-link" onclick="window.YacareImportarDetener=true; return false;" href="{{ path(baseroute ~ '_' ~ url, arrastre|merge({ 'iniciar': 0 })) }}" class="btn btn-default"><i class="fa fa-reply"></i> Volver</a>
	{% endif %}
{% else %}
    <a data-toggle="ajax-link" href="{{ path(baseroute ~ '_' ~ url, arrastre|merge({ 'iniciar': 1 })) }}" class="btn btn-success"><i class="fa fa-play"></i> Iniciar</a>
{% endif %}
{% endblock %}
