{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %} 

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
    {% if res.Mapa is defined %}
    <div id="map" style="height: 400px; width: 100%">
    </div>
    <script type="text/javascript">
    $(function() {
        {{ osm_renderjs(res.Mapa) }}
        setTimeout(function() {
         	{{ res.Mapa.Id }}.invalidateSize();
        }, 0);
    });
    </script>
    {% else %}
    	<p>No hay datos de ubicación para esta partida.</p>
    {% endif %}

{% set ArchivosPlancheta = res.Entidad.PlanchetaArchivos %}
{% if ArchivosPlancheta %}
<h2>Plancheta del macizo {{ res.Entidad.Seccion }}-{{ res.Entidad.Macizo }}</h2>
	{% for archivo in ArchivosPlancheta %}
        <img alt="Plancheta" class="img-responsive" 
        	src="http://yacare.dir.riogrande.gob.ar/catastro/Planchetas/{{ archivo }}" />
	{% endfor %}
{% endif %}
    
{% endblock %}
