{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %} 

{% block pagina_titulo %}Partida Nº {{ res.Entidad.Numero }}{% endblock %}

{% block pagina_contenido %}
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-4 col-xs-12">
    		    {{ bs.grid_label_text66('Sección', res.Entidad.Seccion) }} 
    		    {{ bs.grid_label_text66('Macizo', res.Entidad.Macizo) }}
    			{{ bs.grid_label_text66('Parcela', res.Entidad.Parcela) }}
    			{{ bs.grid_label_text66('Subparcela', res.Entidad.Subparcela) }}  
    			{{ bs.grid_label_text66('Unidad funcional', res.Entidad.UnidadFuncional) }} 
    		</div>
    		<div class="col-sm-8 col-xs-12">
                {{ bs.grid_label_text('Domicilio', res.Entidad.Domicilio) }}
                {% if res.Entidad.Ubicacion %}
                {{ bs.grid_label_text('Ubicación', res.Entidad.Ubicacion) }}
                {% endif %}
    			{% if res.Entidad.Titular %} 
    			    {{ bs.grid_label_text('Titular', '<a data-dismiss="modal" data-toggle="ajax-link" href="' ~ 
    			        path('yacare_base_persona_ver', { 'id': res.Entidad.Titular.id }) ~ '">' ~ 
    			        res.Entidad.Titular ~ '</a>') }} 
    			{% endif %} 
    			{% if res.Entidad.Zona %} {{ bs.grid_label_text('Zona', res.Entidad.Zona) }} {% endif %}    			
    		</div>
    	</div>
    </div>
    
    {% if res.Mapa is defined %}
<div class="col-xs-12" id="map" style="height: 480px;">
</div>
<script type="text/javascript">
$(function() {
    {{ osm_renderjs(res.Mapa) }}
});
</script>
{% endif %}

    {% set ArchivosPlancheta = res.Entidad.PlanchetaArchivos %}
    {% if ArchivosPlancheta %}
    <h2>Plancheta del macizo {{ res.Entidad.Seccion }}-{{ res.Entidad.Macizo }}</h2>
    	{% for archivo in ArchivosPlancheta %}
            <img alt="Plancheta" class="img-responsive" 
            	src="http://yacare.dir.riogrande.gob.ar/catastro/Planchetas/{{ archivo }}" />
    	{% endfor %}
    {% endif %}
    
    <hr />
    <p class="alert alert-info"><i class="fa fa-info-circle"></i>
    	Estos datos fueron obtenidos del SiGeMI y sólo pueden ser modificados en el sistema de origen.
    </p>
{% endblock %}
