{% extends 'TapirAbmBundle::listar.html.twig' %}

{% block pagina_titulo %}Seguimiento de {{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<table class="table table-hover">
	<thead>
		<tr>
			<th>Historial</th>
			<th class="hidden-xs">Fecha</th>
		</tr>
	</thead>
	<tbody>
		{% for entidad in res.Entidades %}
		<tr>
			<td>
				{% if entidad.DepartamentoDestino %}
					<i class="fa fa-fw fa-paper-plane-o text-muted"></i> <span class="text-muted">Enviado a </span>{{ entidad.DepartamentoDestino }}<br />
					<i class="fa fa-fw text-muted"></i> <span class="text-muted">por </span>{{ entidad.PersonaEnvia.NombreAmigable }}<br />
                {% endif %}
                {% if entidad.Nombre %}
		            <i class="fa fa-fw fa-comment-o text-muted"></i> {{ entidad.Nombre }}
		        {% endif %}
		    </td>
			<td class="hidden-xs text-muted">{{ entidad.createdAt|tapir_hacetiempo }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="cortina cortina-cerrada hidden-print" id="cortina-mensaje">
	<div class="cortina-contenido">
        {{ form_start(res.FormularioComentario, { action: path(res.ObtenerRutaAccion('seguimientocomentario'), { 'id': res.Entidad.Id }) }) }}
        <p>Puede agregar un comentario al historial de seguimento:</p>
        {{ form_widget(res.FormularioComentario.Nombre) }}
        {{ form_rest(res.FormularioComentario) }}
<script>
$(function() {
	
});
</script>

        {{ form_end(res.FormularioComentario) }}
        &nbsp;<br />
        <button type="button" class="close" onclick="$('#cortina-mensaje').toggleClass('cortina-cerrada').toggleClass('cortina-abierta');">
        <i class="fa fa-caret-up"></i></button>
    </div>
</div>

<div class="cortina cortina-cerrada hidden-print" id="cortina-enviar">
	<div class="cortina-contenido">
        {{ form_start(res.FormularioEnviar, { action: path(res.ObtenerRutaAccion('seguimientoenviar'), { 'id': res.Entidad.Id }) }) }}
        <p>Enviar:</p>
        {{ form_rest(res.FormularioEnviar) }}
        <div class="col-xs-2"></div>
        <div class="col-xs-10"><button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane-o"></i> Enviar</button></div>
<script>
$(function() {
	
});
</script>
        {{ form_end(res.FormularioComentario) }}
        &nbsp;<br />
        <button type="button" class="close" onclick="$('#cortina-enviar').toggleClass('cortina-cerrada').toggleClass('cortina-abierta');">
        <i class="fa fa-caret-up"></i></button>
        {{ form_end(res.FormularioEnviar) }}
    </div>
</div>

{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}

{% block pagina_acciones %}
    <a href="#" onclick="$('#cortina-mensaje').toggleClass('cortina-cerrada').toggleClass('cortina-abierta');"
    	class="btn btn-default"><i class="fa fa-comment-o"></i> Mensaje</a>
    <a href="#" onclick="$('#cortina-enviar').toggleClass('cortina-cerrada').toggleClass('cortina-abierta');"
    	class="btn btn-default"><i class="fa fa-paper-plane-o"></i> Enviar</a>
	<a href="{{ path(res.ObtenerRutaAccion('ver'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
    	class="btn btn-default"><i class="fa fa-reply"></i> Volver</a>
{% endblock %}
