{% extends 'TapirTemplateBundle::layout.html.twig' %} 

{% block pagina_titulo %}Licitación Nº {{ res.Entidad.Numero }}: {{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
    <table class="table table-striped">
    	<tbody>
    		<tr>
    			<td class="">Licitacion Nº</td>
    			<td>{{ res.Entidad.Numero }}</td>
    		</tr>
    		<tr>
    			<td class="">Detalle</td>
    			<td>{{ res.Entidad.Nombre }}</td>
    		</tr>
    		<tr>
    			<td class="">Expediente Nº</td>
    			<td>{{ res.Entidad.ExpedienteNumero }}</td>
    		</tr>
    		<tr>
    			<td class="">Presupuesto oficial</td>
    			<td><span class="currency">{{ res.Entidad.PresupuestoOficial|tapir_importe
    					}}</span></td>
    		</tr>
    		<tr>
    			<td class="">Complejidad computada</td>
    			<td>
    			    {% if res.Entidad.ComplejidadComputada == 0 %} Baja 
        			    {% elseif res.Entidad.ComplejidadComputada == 1 %} Media 
        			    {% elseif res.Entidad.ComplejidadComputada == 2 %} Alta 
        			    {% else %} --- 
    			    {% endif %}
    			</td>
    		</tr>
    		<tr>
    			<td class="">Coeficiente</td>
    			<td>{{ res.Entidad.PliegoCoeficiente }}%</td>
    		</tr>
    		<tr>
    			<td class="">Valor del pliego</td>
    			<td><span class="currency">{{ res.Entidad.PliegoValor|tapir_importe }}</span></td>
    		</tr>
    		<tr>
    			<td class="">Observaciones</td>
    			<td>{{ res.Entidad.Obs|raw('html') }}</td>
    		</tr>
    	</tbody>
    </table>

<br />
<br />
<br />
<br />

{% if impresion is defined and impresion %}
    <div class="etiquetaqr">
    	<a class="pull-left" data-toggle="ajax-link" href="{{ impresion.Yri }}">
    		<img src="data:image/png;base64,{{ impresion.YriQrBase64 }}" alt="{{ impresion.Yri }}" /></a>
    	<div class="etiquetaqr-info">
    		M{{ impresion.Damm }} &gt; E{{ impresion.EntidadId }} &gt; V{{ impresion.EntidadVersion }}<br /> 
    		{{ res.Entidad.CreatedAt|date("d/m/Y H:i:s") }}<br /> {{ impresion.Token|upper|slice(0, 16) }}<br /> 
    		{{ impresion.Token|upper|slice(16, 16) }}<br />
    		<p class="etiquetaqr-codigo">{{ impresion.MiniToken|upper }}</p>
    	</div>
    </div>
{% else %} {% endif %} {% endblock %} 

{% block pagina_acciones %}
    <a class="btn btn-primary"
    	href="{{ path(res.ObtenerRutaAccion('imprimir'), { 'id': res.Entidad.Id, 'fmt': 'application/pdf' }) }}">
    	<i class="fa fa-file-pdf-o"></i> Descargar PDF</a>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
    <a class="btn btn-default" href="{{ path(res.ObtenerRutaAccion('editar'), { 'id': res.Entidad.Id }) }}">
    	<i class="fa fa-edit"></i> Editar</a>
{% endblock pagina_acciones2 %}

{% block pagina_pie %}{% endblock pagina_pie %}
