{% macro listar_plano(listaasoc, nivel) %}
<ul class="list-unstyled">
{% for AsocRequisito in listaasoc %}
	<li><h2><i class="fa fa-square-o text-muted"></i> {{ AsocRequisito }}</h2></li>
	{{ _self.mostrar_asociacion(AsocRequisito) }}
{% endfor %}
</ul>
{% endmacro %}

{% macro listar(tramitetipo, nivel) %}
{% if tramitetipo.AsociacionRequisitos|length > 0 %}
<ul>
	{% for AsocRequisito in tramitetipo.AsociacionRequisitos %}
	    {% if AsocRequisito.Requisito.Tipo != 'tra' %}
			<li><h{{ nivel }}> {{ AsocRequisito.Requisito }}</h{{ nivel }}></li>
	    {% endif %}
	{% endfor %}
	
	{% for AsocRequisito in tramitetipo.AsociacionRequisitos %}
	    {% if AsocRequisito.Requisito.Tipo == 'tra' %}
			<li><h{{ nivel }}> {{ AsocRequisito.Requisito }}</h{{ nivel }}></li>
	        {{ _self.listar(AsocRequisito.Requisito.TramiteTipoEspejo, nivel + 1) }}
	    {% endif %}
	{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro mostrar_asociacion(asoc) %}
<p class="col-sm-offset-1">
	<span class="text-muted">RQ{{ "%03d"|format(asoc.Requisito.id) }}</span>
	{% if asoc.Requisito.Tipo == 'tra' %}Trámite interno.
	{% elseif asoc.Requisito.Tipo == 'int' %}Comprobante interno.{% endif %}
    {% if asoc.Propiedad %}De {{ asoc.Propiedad }}.{% endif %}
    {% if asoc.InstanciaNombre != 'n/a' %}{{ asoc.InstanciaNombre }}.{% endif %}
    {% if asoc.EsOpcional %}<strong>Opcional</strong>{% endif %}
    {% if asoc.EsCondicional %}
    	<strong>Condicional: </strong>
    	Sólo se requiere si {{ asoc.Condicion }}.
    {% endif %}

    {% if asoc.Requisito.Obs %}<br />{{ asoc.Requisito.Obs }}{% endif %}
    {% if asoc.Requisito.Lugar or asoc.Requisito.Url %}<span class="text-info">
    	<br />
        {% if asoc.Requisito.Lugar %}Se obtiene en <strong>{{ asoc.Requisito.Lugar }}</strong>{% endif %}
        {% if asoc.Requisito.Url %}[ {{ asoc.Requisito.Url }} ]{% endif %}
	</span>{% endif %}
</p>
{% endmacro %}

{% macro mostrarrequisito(requisito) %}
{% if requisito.Obs %}<p>{{ requisito.Obs }}</p>{% endif %}
{% if requisito.Lugar or requisito.Url %}<p class="text-info">{% endif %}
{% if requisito.Lugar %}Se obtiene en <strong>{{ requisito.Lugar }}</strong>{% endif %}
{% if requisito.Url %}[ {{ requisito.Url }} ]{% endif %}
{% if requisito.Lugar or requisito.Url %}</p>{% endif %}
{% endmacro %}