{% extends 'TapirTemplateBundle::layout.html.twig' %}
{% import 'YacareTramitesBundle:TramiteTipo:macros.html.twig' as ttm %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
{% if res.Entidad.Obs %}
	<p>{{ res.Entidad.Obs|raw }}</p>
{% endif %}

<h2 class="row-header">1. Condiciones a cumplir</h2>	

{{ ttm.listar_plano(res.Entidad.ObtenerRequisitosLineales('cond'), 2) }}

<h2 class="row-header">2. Documentación a presentar</h2>

{{ ttm.listar_plano(res.Entidad.ObtenerRequisitosLineales('ext'), 2) }}

{% if res.Entidad.ComprobanteTipo %}
    <p>Al finalizar el trámite, se emitirá un comprobante tipo
    	<strong>{{ res.Entidad.ComprobanteTipo }}</strong>.</p>
{% endif %}
{% if res.Entidad.Notas %}
    <p>{{ res.Entidad.Notas }}</p>
    </footer>
{% endif %}

{% if res.Entidad.Url %}
	<p>Puede obtener más información en {{ res.Entidad.Url }}</p>
{% endif %}

<hr />
<h2>Descripción interna del trámite</h2>
{{ ttm.listar(res.Entidad, 3) }}

<hr />

<footer>
	<h4>Referencias</h4>
	<dl class="dl-horizontal">
		<dt>Copia simple</dt>
		<dd>Puede presentar una fotocopia común, que quedará en poder del
			municipio y será archivada como parte del expediente.</dd>
		<dt>Original y copia</dt>
		<dd>Deberá presentar original y copia. La copia se certificará en el
			acto y quedará en poder del municipio, el original lo conserva el
			contribuyente. Si no puede mostrar el original, puede entregar copia
			certificada, que quedará en poder del municipio.</dd>
		<dt>Copia legalizada</dt>
		<dd>Deberá presentar copia legalizada o apostillada por autoridad
			competente, que quedará en poder del municipio.</dd>
		<dt>Original</dt>
		<dd>Deberá entregar el original, que quedará en poder del municipio y
			será archivado como parte del expediente.</dd>
	</dl>
</footer>
{% endblock %}

{% block pagina_acciones %}
    <a href="#" onclick="window.print(); return false;" class="btn btn-default"><i
    	class="fa fa-print"></i> Imprimir</a>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
    {% if tapir_hasanyrole('ROLE_ADMINISTRADOR') %}
        <a data-toggle="ajax-link"
        	href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
        	class="btn btn-default"><i class="fa fa-edit"></i> Editar trámite</a>
        <a class="btn btn-default"
        	href="{{ path('yacare_tramites_asociacionrequisito_listar', { 'parent_id': res.Entidad.Id }) }}">
        	<i class="fa fa-check"></i> Editar requisitos</a>
    {% endif %}
{% endblock pagina_acciones2 %}
