{% extends 'TapirTemplateBundle::layout.html.twig' %}
{% import 'YacareTramitesBundle:TramiteTipo:macros.html.twig' as ttm %}

{% block pagina_titulo %}{{ entity }}{% endblock %}

{% block pagina_contenido %}
{{ ttm.listar(entity, 2) }}
{% if entity.ComprobanteTipo %}
    <p>Al finalizar el trámite, se emitirá un comprobante tipo
    	<strong>{{ entity.ComprobanteTipo }}</strong>.</p>
{% endif %}
{% if entity.Notas %}
    <p>{{ entity.Notas }}</p>
    </footer>
{% endif %}

{% if entity.Url %}
	<p>Puede obtener más información en {{ entity.Url }}</p>
{% endif %}

<hr />
<footer>
	<h4>Referencias</h4>
	<dl class="dl-horizontal">
		<dt>Copia simple</dt>
		<dd>Puede presentar una fotocopia común, que quedará en poder del
			municipio y será archivada como parte del expediente.</dd>
		<dt>Original y copia</dt>
		<dd>Deberá presentar original y copia. La copia se certificará en el
			acto y quedará en poder del municipio, el original lo conserva el
			contribuyente. Si no puede mostrar el original, puede entregar copia
			certificada, que quedará en poder del municipio.</dd>
		<dt>Copia legalizada</dt>
		<dd>Deberá presentar copia legalizada o apostillada por autoridad
			competente, que quedará en poder del municipio.</dd>
		<dt>Original</dt>
		<dd>Deberá entregar el original, que quedará en poder del municipio y
			será archivado como parte del expediente.</dd>
	</dl>
</footer>
{% endblock %}

{% block pagina_acciones %}
<a href="#" onclick="window.print(); return false;" class="btn btn-link"><i
	class="fa fa-print"></i> Imprimir</a>
<a data-toggle="ajax-link"
	href="{{ path(baseroute ~ '_listar', arrastre) }}" class="btn btn-link"><i
	class="fa fa-reply"></i> Volver</a>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
    {% if is_expr_granted("hasAnyRole('ROLE_ADMINISTRADOR')") %}
    <a data-toggle="ajax-link"
    	href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.id })) }}"
    	class="btn btn-default"><i class="fa fa-edit"></i> Editar trámite</a>
    <a class="btn btn-default"
    	href="{{ path('yacare_tramites_asociacionrequisito_listar', { 'parent_id': entity.Id }) }}"><i
    	class="fa fa-check"></i> Editar requisitos</a>
    {% endif %}
{% endblock pagina_acciones2 %}
