{% extends 'YacareSitioWebBundle::layout.html.twig' %}

{% block pagina_titulo %}aa{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<table class="table {% if res.Entidades|length > 30 %}table-condensed {% endif %}table-responsive table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Domicilio</th>
			<th>Teléfono</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in res.Entidades %}
		<tr data-toggle="ajax-link" href="{{ path('yacare_nomina_inmueble_publica_ver', { 'id': entity.Id }) }}">
			<td><a href="{{ path('yacare_nomina_inmueble_publica_ver', { 'id': entity.Id }) }}">{{ entity.Nombre }}</a></td>
			<td>{{ entity.DomicilioReal }}
			    {% if entity.UbicacionReal %}
    				<a href="{{ path('yacare_nomina_inmueble_publica_ver', { 'id': entity.Id }) }}"><i
    					class="fa fa-map-marker"></i></a>
        		{% endif %}</td>
        	<td>{{ entity.Telefonos }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock pagina_contenido %}
