{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %} Vehículos {% endblock %}

{% block pagina_contenido %}
    <div class="">
    <table class="table table-hoverselect">
        <thead>
            <tr>
                <th>Marca y modelo</th>
                <th>Patente</th>
                <th>Combustible</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	{% if is_granted('ROLE_FLOTA_ADMINISTRADOR')  %}
            	<tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_ver', { 'id': entity.Id }) }}">
            {% elseif is_granted('ROLE_FLOTA_CARGA') %}
            	<tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_carga', { 'vehiculo': entity.Id }) }}">
            {% endif %}
                <td>{{ entity.Marca }} {{ entity.Modelo }}</td>
                <td>{{ entity.Patente }}</td>
                <td>{{ entity.CombustibleNombre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}

{% block pagina_buscar %}
    {% include 'TapirBaseBundle::buscar.html.twig' %}
{% endblock %}

{% block pagina_acciones2 %}
{% if is_granted('ROLE_FLOTA_ADMINISTRADOR') %}
    	<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-primary">
    	<i class="fa fa-plus"></i> Alta de vehículo</a>
{% endif %}
{% endblock %}
