{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %} Vehículos {% endblock %}

{% block pagina_contenido %}
    <div class="">
    <table class="table table-hoverselect">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Combustible</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        	{% if is_expr_granted ("hasAnyRole('ROLE_FLOTA_ADMINISTRADOR')")  %}
            <tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_ver', { 'id': entity.Id }) }}">
                <td>{{ entity.Marca }}</td>
                <td>{{ entity.Modelo }}</td>
                <td>{{ entity.CombustibleNombre }}</td>
            </tr>
            {% elseif is_expr_granted ("hasAnyRole('ROLE_FLOTA_CARGA')") %}
            <tr data-toggle="ajax-link" href="{{ path(baseroute ~'_carga', { 'vehiculo': entity.Id }) }}">
                <td>{{ entity.Marca }}</td>
                <td>{{ entity.Modelo }}</td>
                <td>{{ entity.CombustibleNombre }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}

{% block pagina_buscar %}
    {% include 'TapirBaseBundle::buscar.html.twig' %}
{% endblock %}

{% block pagina_acciones2 %}
{% if is_expr_granted("hasAnyRole('ROLE_FLOTA_ADMINISTRADOR')") %}
    	<a data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar_1', arrastre) }}" class="btn btn-primary">
    	<i class="fa fa-plus"></i> Alta de vehículo</a>
{% endif %}
{% endblock %}
