{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{{ entity }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			{{ bs.grid_label_text('Marca', entity.Marca) }}
			{{ bs.grid_label_text('Modelo', entity.Modelo) }}
			{{ bs.grid_label_text('Año', entity.Anio) }}
			{{ bs.grid_label_text('Patente', entity.NumeroSerie) }}
		</div>
		<div class="col-sm-6 col-xs-12">
			{{ bs.grid_label_text('Color', entity.Color) }}
			{{ bs.grid_label_text('Combustible', entity.CombustibleNombre) }}
			{{ bs.grid_label_text('Departamento', entity.Departamento) }}
			{{ bs.grid_label_text('Código', entity.IdentificadorUnico) }}
		</div>
	</div>
</div>

<h2>Historial de cargas</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Litros</th>
            <th>Importe</th>
            <th>Kilometraje</th>
            <th>Combustible</th>
        </tr>
    </thead>
    <tbody>
    {% for carga in entity.Cargas %}
        <tr>
            <td>{{ carga.createdAt|tapir_fecha }}</td>
            <td>{{ carga.Litros }}</td>
            <td>{{ carga.Importe|tapir_importe }}</td>
            <td>{{ carga.Kilometraje }}</td>
            <td>{{ carga.CombustibleNombre }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block pagina_acciones2 %}
    {% if is_expr_granted("hasAnyRole('ROLE_FLOTA_ADMINISTRADOR')") %}
    	<a href="{{ path(baseroute ~ '_editar', arrastre|merge({ 'id': entity.id })) }}"
    		class="btn btn-default"><i class="fa fa-edit"></i> Editar vehículo</a>
    {% endif %}
{% endblock pagina_acciones2 %}
    