{% extends 'YacareTramitesBundle:Tramite:ver.html.twig' %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}

{% block tramite_encab %}{{ parent() }}
    <p> El uso del suelo para la actividad <strong>{{ res.Entidad.Comercio.Actividad1|lower }}</strong> en la zona es
        {% if res.Entidad.UsoSuelo > 4 %} <i class="fa fa-warning text-danger"></i> {% endif %}
        <strong>{{ res.Entidad.UsoSueloNombre|lower }}</strong>.
    </p>
{% endblock %}

{% block tramite_requisitos %}{{ parent() }}{% endblock %}

{% endblock %}

{% block pagina_acciones2 %}{{ parent() }}
    {% if res.Entidad.Estado < 90 and is_granted('ROLE_ADMINISTRADOR') %}
        <a data-toggle="ajax-link" class="btn btn-default hidden-print pull-right"
        	href="{{ path(res.ObtenerRutaAccion('editar'), { 'id': res.Entidad.Id }) }}">
        	<i class="fa fa-edit"></i> Editar el trámite</a>
    {% endif %}
{% endblock %}
