{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo%}{{ tapir_cliente }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

<div class="row">
	<p>Bievenido al sistema de gestión del Municipio de Río Grande.</p>
</div>


<div class="row">

	<div class="col-sm-4 inicio-mini" id="inicio-requerimientos">
	<script>
	$(function() {
		tapirCargarUrlEn("{{ path('yacare_requerimientos_default_miniinicio') }}", '#inicio-requerimientos');
	});
	</script>
	</div>
	
{% if tapir_hasanyrole('ROLE_COMERCIO_ADMINISTRADOR,ROLE_COMERCIO_INSPECTOR') %}
	<div class="col-sm-4 inicio-mini" id="inicio-comercio">
	<script>
	$(function() {
		tapirCargarUrlEn("{{ path('yacare_comercio_default_miniinicio') }}", '#inicio-comercio');
	});
	</script>
	</div>
{% endif %}

	<div class="col-sm-4 inicio-mini" id="inicio-catastro">
	<script>
	$(function() {
		tapirCargarUrlEn("{{ path('yacare_catastro_default_miniinicio') }}", '#inicio-catastro');
	});
	</script>
	</div>

{% if tapir_hasanyrole('ROLE_FLOTA_ADMINISTRADOR,ROLE_FLOTA_CARGA') %}
	<div class="col-sm-4 inicio-mini" id="inicio-flota">
	<script>
	$(function() {
		tapirCargarUrlEn("{{ path('yacare_flota_default_miniinicio') }}", '#inicio-flota');
	});
	</script>
	</div>
{% endif %}


</div>

    <div class="pull-right text-right">
    	<img src="{{ asset('bundles/yacarebase/img/yacare_logo240.png') }}"
    		style="padding: 20px; transform: scaleX(-1) scaleY(1); opacity: .2;"
    		alt="{{ tapir_nombreaplicacion }}" /><br />
    
    	<a href="http://yacare.dir.riogrande.gob.ar">http://yacare.dir.riogrande.gob.ar</a>
	</div>
</div>

{% endblock %}


{% block pagina_acciones %}
{% if app.user %} 
    <span class="dropdown pull-right">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		{% if app.user.Nombre %}
		    {{ app.user.NombreAmigable }}
		{% else %}
		    {{ app.user }}
		{% endif %}
		</a>
	<ul class="dropdown-menu">
		<li><a data-toggle="ajax-link" href="{{ path('usuario_editarperfil_actual') }}"><i
			class="fa fa-user fa-fw"></i> Mi perfil</a></li>
		<li><a data-toggle="ajax-link" href="{{ path('usuario_cambiarcontrasena_actual') }}"><i
			class="fa fa-key fa-fw"></i> Cambiar contraseña</a></li>
		<li class="divider"></li>
		<li><a href="{{ path('logout') }}"><i class="fa fa-power-off fa-fw"></i> Desconectarse</a></li>
	</ul>
	</span>
{% endif %}
{% endblock pagina_acciones %}