{% extends 'TapirAbmBundle::listar.html.twig' %}

{% block pagina_titulo %}Requisitos{% endblock %}

{% block pagina_contenido %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>Nombre</th>
			<th class="hidden-xs">Tipo</th>
			<th class="hidden-sm hidden-xs">Detalle</th>
		</tr>
	</thead>
	<tbody>
		{% for entidad in res.Entidades %}
		<tr data-toggle="ajax-link"
			href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': entidad.Id })) }}">
			<td>&nbsp;{{ entidad.Nombre }}</td>
			<td class="hidden-xs">{{ entidad.TipoNombre }}</td>
			<td class="hidden-sm hidden-xs">
			    {% for requiere in entidad.Requiere %}
				<span class="label label-info">{{ requiere.Nombre|tapir_abreviar(50) }}</span>
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
{% block pagina_accion %}

{% endblock %}
{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock pagina_paginar %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock pagina_buscar %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link"
	href="{{ path(res.ObtenerRutaAccion('crear'), res.Arrastre) }}"
	class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo requisito</a>
<a data-toggle="ajax-link" href="{{ path('yacare_tramites_tramitetipo_listar') }}"
	class="btn btn-default pull-right"><i class="glyphicon glyphicon-export"></i> Requisitos por tramite</a>
{% endblock %}
