{% extends 'TapirAbmBundle::listar.html.twig' %}

{% block pagina_titulo %}Archivos adjuntos{% endblock %}

{% block pagina_contenido %}
<style>
.dropzone {
    border: 2px dashed #CCCCCC;
    padding: 8px;
    min-height: 80px;
}

div.thumbnail {
    overflow: hidden;
}

a.thumbnail {
    margin-bottom: 0;
}

.thumbnail-caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    aborder: 1px solid red;
    overflow: hidden;
}
.thumbnail-caption-content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 6px;
    aborder: 1px solid blue;
}
</style>


<form action="{{ path('yacare_base_adjunto_subir', res.Arrastre|merge({ 'tipo': res.EntidadTipo, 'id': res.EntidadId })) }}" {{ form_enctype(res.FormularioSubir) }} 
	class="dropzone" id="subirArchivos" method="POST">

    <div class="dz-message">
    	<p class="text-center"><br />Haga clic o arrastre y suelte archivos aquí para añadir.<br /></p> 
    </div>

<div class="container-fluid" id="previews"><div class="row">

	<div id="template" class="thumbnails col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <div class="thumbnail">
        	<img src="{{ asset('/bundles/tapirtemplate/img/oxygen/256x256/mimetypes/unknown.png') }}"
        		class="img-responsive" data-dz-thumbnail />
            </a>
            <div class="caption">
                <h3><span data-dz-name></span>
                    <div class="pull-right btn-group btn-group-xs" role="group">
                   		<a href="#" class="btn btn-default colorbox"><i class="fa fa-fw fa-download"></i></a>
                		<a href="#" class="btn btn-default" data-toggle="modal"><i class="fa fa-fw fa-info-circle"></i></a>
                    </div>
                </h3>
                <p class="small text-muted"><span data-dz-size></span></p>
                
            </div>
    	</div>
    </div>
</div></div>

<script>
$(function() {
	Dropzone.autoDiscover = false;
	
	var previewNode = document.querySelector("#template");
	previewNode.id = "";
	var previewTemplate = previewNode.parentNode.innerHTML;
	previewNode.parentNode.removeChild(previewNode);
	Dropzone.options.subirArchivos = {
        //paramName: "form[Nombre]",
        uploadMultiple: false,
        forceFallback: false,
        maxFilesize: 250, // MB
        previewTemplate: previewTemplate,
        thumbnailWidth: 256,
        thumbnailHeight: 256,
        autoProcessQueue: true,
        previewsContainer: "#previews",
        init: function() {
            this.on("success", function(file, response) {
              // Cambio los enlaces de los botones del thumbnail
              file.previewElement.id = response.adjunto.token;
              href_info = "{{ path('yacare_base_adjunto_ver', { token: '__token__' }) }}".replace('__token__', response.adjunto.token);
              $(file.previewElement).find('a.boton-info').attr('href', href_info);
              href_down = "{{ path('yacare_base_adjunto_descargar', { token: '__token__' }) }}".replace('__token__', response.adjunto.token);
              $(file.previewElement).find('a.boton-descargar').attr('href', href_down);
            });
            this.on("failure", function(file, response) {
              alert(response.error);
              //$(file.previewElement).find('.boton-info').appendChild(document.createTextNode(responseText.id));
            });
        }
	};

	var myDropzone = new Dropzone("#subirArchivos");

	$('.thumbnails .thumbnail').hover(
        function() {
            $(this).find('.thumbnail-caption').fadeIn(50);
            $('.caption-btm').hide();
        },
        function() {
            $(this).find('.thumbnail-caption').fadeOut(50);
            $('.caption-btm').show();
    });

	$('#subirArchivos').submit(function(event) {
		if (myDropzone.getQueuedFiles().length > 0) {
			alert(myDropzone.getQueuedFiles().length);                        
			myDropzone.processQueue();  
		} 
	});

	$('a.colorbox-adjunto').colorbox({ rel: 'colorbox-adjunto', width: '85%', height: '85%', maxWidth: '100%', fixed: true });    
});
</script>

    <div class="fallback form-horizontal">
    	<input name="file" type="file" multiple />
        {# form_widget(res.FormularioSubir.Nombre) #}
    </div>
    {# form_rest(res.FormularioSubir) #}
</form>

<br />

{% if res.Entidades %}
<div class="container-fluid"><div class="row">
    {% for entity in res.Adjuntos %}
    <div class="thumbnails col-xs-6 col-sm-4 col-md-4 col-lg-3">
        <div class="thumbnail">
        	{% if entity.EsImagen %}
            	<a href="{{ asset(entity.NombreArchivoRelativo) }}" class="colorbox thumbnail colorbox-adjunto colorbox-adjunto-imagen"
            		title="{{ entity.Nombre }}" target="_blank">
			{% else %}
            	<a href="{{ path('yacare_base_adjunto_vistaprevia', { 'token': entity.Token }) }}" class="colorbox thumbnail colorbox-adjunto colorbox-adjunto-archivo"
            		title="{{ entity.Nombre }}" target="_blank">
        	{% endif %}
            {% if entity.TieneMiniatura %}
            	<img src="{{ entity.NombreArchivoRelativo|imagine_filter('thumb256') }}" class="img-responsive"
            		data-toggle="tooltip" data-placement="top" title="{{ entity.Nombre }}"
            		alt="Miniatura de {{ entity.Nombre }}" />
            {% else %}
            	<img src="{{ entity.Icono }}" alt="{{ entity.Nombre }}" class="img-responsive"
            		data-toggle="tooltip" data-placement="top" title="{{ entity.Nombre }}"
            		alt="Miniatura de {{ entity.Nombre }}" />
            {% endif %}
            </a>
            <div class="caption">
                <h3>{{ entity.Nombre }}
                    <div class="pull-right btn-group btn-group-xs" role="group">
                   		<a href="{{ path('yacare_base_adjunto_descargar', { 'token': entity.Token }) }}" class="btn btn-default colorbox"><i class="fa fa-fw fa-download"></i></a>
                		<a href="{{ path('yacare_base_adjunto_ver', { 'token': entity.Token }) }}" class="btn btn-default" data-toggle="modal"><i class="fa fa-fw fa-info-circle"></i></a>
                    </div>
                </h3>
                <p class="small text-muted">Subido el {{ entity.createdAt|tapir_fecha('medium', 'none') }}
                	{% if entity.Persona %}
                		por {{ entity.Persona }}.
                	{% endif %}</p>
                
            </div>
    	</div>
    </div>
    {% endfor %}
</div></div>

{% else %}
<p>No hay archivos adjuntos.</p>
{% endif %}

{% endblock %}

