{% extends 'TapirBaseBundle:Default:listar.html.twig' %}

{% block pagina_titulo %}Actas de Obras Particulares{% endblock %}
<table class="table table-hoverselect">
	<thead>
		<tr>
			<th>Nº</th>
			<th>Tipo</th>
			<th>Fecha</th>
			<th>Comercio</th>
			<th>Persona</th>
			<th>Funcionario principal</th>
		</tr>
	</thead>
	<tbody>
		{% for entity in entities %}
		<tr data-toggle="ajax-link" href="{{ path(baseroute ~ '_editar', { 'id': entity.Id }) }}">
			<td class="text-right">{{ entity.Numero }}</td>
			<td>{{ entity.SubTipo }}</td>
			<td>{{ entity.Fecha|date("d/m/Y") }}</td>
			<td>{{ entity.Comercio }}</td>
			<td>{{ entity.Persona }}</td>
			<td>{{ entity.FuncionarioPrincipal }}</td>
			<td>
		
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock %}

{% block pagina_acciones2 %}
<a data-toggle="ajax-link"
	href="{{ path(baseroute ~ '_editar_1', arrastre) }}"
	class="btn btn-primary"><i class="fa fa-plus"></i> Nueva acta</a>
{% endblock %}
