{% extends 'TapirAbmBundle::inicio.html.twig' %}

{% block pagina_titulo %}Comercio{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid"><div class="row">

	<div class="col-md-4 col-sm-6 col-xs-12"><div class="panel panel-yellow">
        <div class="panel-heading">
        	<h2 class="panel-title">Trámites</h2>
        </div>
        <div class="panel-body">
            <p>Busqueda de tramites de habilitacion comercial iniciados. 
             Los tramites activos son aquellos que estan en estado de "en tramite",
             Los tramites son instransferibles.</p>
            <input type="text" class="form-control pull-rigth" placeholder="buscar trámite" />
        </div>
        <ul class="list-group">
            <a class="list-group-item" href="{{ path('yacare_comercio_tramitehabilitacioncomercial_listar', arrastre) }}">Trámites activos <span class="badge">{{ tramites|length }}</span></a>
            <a class="list-group-item" href="{{ path('yacare_comercio_tramitehabilitacioncomercial_listar', arrastre) }}">Otros trámites</a>
            <a class="list-group-item" href="{{ path('yacare_comercio_tramitehabilitacioncomercial_consultar', arrastre) }}"><i class="fa fa-question fa-fw"></i> Consulta de factibilidad</a>
            <a class="list-group-item" href="{{ path('yacare_comercio_tramitehabilitacioncomercial_editar_1', arrastre) }}"><i class="fa fa-plus fa-fw"></i> Ingresar nuevo trámite</a>
        </ul>
    </div></div>
    
<div class="container-fluid"><div class="row">

	<div class="col-md-4 col-sm-6 col-xs-12"><div class="panel panel-green">
        <div class="panel-heading">
        	<h2 class="panel-title">Comercios</h2>
        </div>
        <div class="panel-body">
            <p>Lista de comercios y locales comerciales del municipio de rio grandee</p>
        </div>
        <ul class="list-group">
            <a class="list-group-item" href="{{ path('yacare_comercio_comercio_listar', arrastre) }}">Comercios <span class="badge">{{ comercios|length }}</span></a>
            <a class="list-group-item" href="{{ path('yacare_comercio_local_listar', arrastre) }}"><i class="fa fa-question fa-fw"></i> Locales comerciales<span class="badge">{{ locales|length }}</span></a>
            <a class="list-group-item" href="{{ path('yacare_comercio_certificadohabilitacioncomercial_listar', arrastre) }}"><i class="fa fa-plus fa-fw"></i> Certificados de habilitacion comercial</a>
        </ul>
    </div></div>
    
<div class="container-fluid"><div class="row">

	<div class="col-md-4 col-sm-6 col-xs-12"><div class="panel panel-primary">
        <div class="panel-heading">
        	<h2 class="panel-title">Actividades comerciales</h2>
        </div>
        <div class="panel-body">
            <p>Busqueda de tramites de habilitacion comercial iniciados. 
             Los tramites activos son aquellos que estan en estado de "en tramite",
             Los tramites son instransferibles.</p>
        </div>
        <ul class="list-group">
            <a class="list-group-item" href="{{ path('yacare_comercio_actividad_listar', arrastre) }}">Actividades comerciales</a>
        </ul>
    </div></div>
</div></div>
</div>
{% endblock pagina_contenido %}