{% extends 'TapirTemplateBundle::empty.html.twig' %}

{% block pagina_contenido %}
<style>



</style>

<h2><i class="fa fa-fw fa-shopping-cart text-muted"></i> Comercios</h2>
<ul class="inicio-mini-menu">
	{% for comercio in res.Recientes['Comercio'] %}
		<li><a href="{{ path('yacare_comercio_comercio_ver', res.Arrastre|merge({ id: comercio.id })) }}" data-toggle="ajax-link">{{ comercio }}</a></li>
	{% endfor %}
	<li class="divider"></li>
	<li class="destacado"><a href="{{ path('yacare_comercio_comercio_listar') }}" data-toggle="ajax-link">
		Todos los comercios</a></li>
	<li class="destacado"><a href="{{ path('yacare_comercio_local_listar') }}" data-toggle="ajax-link">Locales de uso comercial</a></li>
	<li class="destacado"><a href="{{ path('yacare_comercio_actividad_listar') }}" data-toggle="ajax-link">Nomenclador de actividades</a></li>
</ul>



{% endblock pagina_contenido %}
