{% extends 'TapirAbmBundle::editarbase.html.twig' %} 

{% block pagina_titulo %}{% if res.Entidad.id %}{{ res.Entidad }}{% else %}Nueva acta{% endif %}{% endblock %}

{% block pagina_contenido %}
    <div class="row form-group">
    	{{ form_label(res.FormularioEditar.Numero) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.Numero) }}</div>
    </div>
    <div class="row form-group">
    	{{ form_label(res.FormularioEditar.SubTipo) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.SubTipo) }}</div>
    </div>
    <div class="row form-group">
    	{{ form_label(res.FormularioEditar.Fecha) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.Fecha) }}</div>
	</div>
	<div class="row form-group">
    	{{ form_label(res.FormularioEditar.Partida) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.Partida) }}</div>
	</div>
	<div class="row form-group">
    	{{ form_label(res.FormularioEditar.TipoFaltas) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.TipoFaltas) }}</div>
	</div>
	<div class="row form-group">
    	{{ form_label(res.FormularioEditar.TipoConstruccion) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.TipoConstruccion) }}</div>
	</div>
	<div class="row form-group" id="EstadoAvance">
    	{{ form_label(res.FormularioEditar.EstadoAvance) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.EstadoAvance) }}</div>
	</div>
	<div class="row form-group" id="EstadoAvance2">
    	{{ form_label(res.FormularioEditar.EstadoAvance2) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.EstadoAvance2) }}</div>
	</div>
    <div class="row form-group">
    	{{ form_label(res.FormularioEditar.Profesional) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.Profesional) }}</div>
	</div>
	<div class="row form-group">
    	{{ form_label(res.FormularioEditar.FuncionarioPrincipal) }}
    	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.FuncionarioPrincipal) }}</div>
	</div>
	<span id="adicional" style="display:none">
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Obs) }}
        	<div class="col-xs-12 col-sm-10">{{ form_widget(res.FormularioEditar.Obs) }}</div>
        </div>
	</span>
    {{ form_rest(res.FormularioEditar) }}
    <div class="row form-group">
        	<div class="col-xs-2 text-right">
        		<a id="linkMostrar" href="#" onclick="mostrarOculto(); return false;">Incluir observaciones</a>
        	</div>
    </div>
{% endblock pagina_contenido %}
	
{% block pagina_scripts %}
	{{ parent() }}		
    <!-- Muestro el campo para observaciones -->
    <script type="text/javascript">
        function mostrarOculto() {
        	var elemento = document.getElementById("adicional");
        
            if (elemento.style.display == "none") {
            	elemento.style.display = "block";
            	linkMostrar.style.display = 'none';
            }
        }
    </script>
    <!-- Prevengo el ingreso de opciones para tipo de obra Seca -->
    <script>
    $(function() {
        $('#yacare_obrasparticularesbundle_actaobratype_TipoConstruccion').change(function() {
            if($('#yacare_obrasparticularesbundle_actaobratype_TipoConstruccion').val() !== 'Seca') {
            	$('#EstadoAvance').show();
                $('#EstadoAvance2').hide();
                $('#yacare_obrasparticularesbundle_actaobratype_EstadoAvance2').val('');
            } else {
        		$('#EstadoAvance').hide;
            	$('#EstadoAvance2').show;
            	$('#yacare_obrasparticularesbundle_actaobratype_EstadoAvance').val('');
            }
        }).change();
	});
	</script>
{% endblock pagina_scripts %}
