{% extends 'TapirAbmBundle::listar.html.twig' %}

{% block pagina_titulo %}Actas de Obras Particulares{% endblock %}

{% block pagina_contenido %}
    <table class="table table-hoverselect">
    	<thead>
    		<tr>
    			<th>Nº</th>
    			<th>Tipo</th>
    			<th>Fecha</th>
    			<th class="hidden-xs">Partida</th>
    			<th class="hidden-xs">Inspector</th>
    			<th> </th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for entidad in res.Entidades %}
    		<tr data-toggle="ajax-link" href="{{ path(res.ObtenerRutaAccion('ver'), { 'id': entidad.Id }) }}">
    			<td>{{ entidad.Numero }}</td>
    			<td>{{ entidad.Subtipo }}</td>
    			<td>{{ entidad.Fecha|date("d/m/Y") }}</td>
    			<td class="hidden-xs">{{ entidad.Partida.Domicilio }}
    			{% if entidad.Partida.Ubicacion %}
    				<a href="{{ path(res.ObtenerRutaAccion('mapa'), { 'id': entidad.Partida.Id }) }}"
    					data-toggle="modal"><i class="fa fa-map-marker"></i></a>
    			{% endif %}
    			</td>
    			<td class="hidden-xs">{{ entidad.FuncionarioPrincipal }}</td>
    			<td>{% if entidad.Plazo is not null %}<span class="label label-{% if entidad.EstaVencida %}danger{% else %}success{% endif %}">D</span>{% endif %}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}

{% block pagina_paginar %}{% include 'TapirBaseBundle::paginar.html.twig' %}{% endblock %}
{% block pagina_buscar %}{% include 'TapirBaseBundle::buscar.html.twig' %}{% endblock %}

{% block pagina_acciones %}
    {% if tapir_hasanyrole('ROLE_OBRAS_PARTICULARES_ADMINISTRADOR,ROLE_OBRAS_PARTICULARES_INSPECTOR') %}
	<a data-toggle="ajax-link"
		href="{{ path(res.ObtenerRutaAccion('crear'), res.Arrastre) }}"
		class="btn btn-default"><i class="fa fa-plus"></i> Nueva acta</a>
    {% endif %}
{% endblock %}
