{% extends 'TapirAbmBundle::ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<style>
@media print {
.content-bar-block {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 2px solid #808080; 
}
}
</style>

<div class="container-fluid">

	<div class="row">
		<div class="col-sm-8 col-xs-12">
		    {{ bs.grid_label_text('Inspector', res.Entidad.FuncionarioPrincipal) }}
		    {{ bs.grid_label_text('Propietario', res.Entidad.Partida.Titular) }}
		    {{ bs.grid_label_text('Documento', res.Entidad.Partida.Titular.CuiltODocumento) }}
		</div>
		<div class="col-sm-4 col-xs-12 col-separator-left">
		    {{ bs.grid_label_text('Fecha', res.Entidad.Fecha|tapir_fecha('medium', 'none')) }}
		    {{ bs.grid_label_text('Sección', res.Entidad.Partida.Seccion) }}
		    {{ bs.grid_label_text('Macizo', res.Entidad.Partida.Macizo) }}
		    {{ bs.grid_label_text('Parcela', res.Entidad.Partida.ParcelaYSubparcela) }}
		    {% if res.Entidad.Partida.UnidadFuncional and res.Entidad.Partida.UnidadFuncional > 0 %}
		    {{ bs.grid_label_text('UF', res.Entidad.Partida.UnidadFuncional) }}
		    {% endif %}
		</div>
	</div>

    {% if res.Entidad.Profesional %}
    <h2 class="row-header">Profesional</h2>
    <div class="row">
    	<div class="col-sm-6 col-xs-12">
    	    {{ bs.grid_label_text('Profesional', res.Entidad.Profesional) }}
    	    {{ bs.grid_label_text('Matrícula', res.Entidad.Profesional.Id) }}
    	</div>
    	<div class="col-sm-6 col-xs-12">
    	</div>
    </div> 
    {% endif %}
     
     
    <h2 class="row-header">Construcción</h2>
    {{ bs.grid_label_text('Denominación catastral', res.Entidad.Partida.Smpu) }}
	{{ bs.grid_label_text('Domicilio', res.Entidad.Partida.Domicilio) }}
    <div class="row">
    	<div class="col-sm-6 col-xs-12">
    	    {{ bs.grid_label_text('Tipo', res.Entidad.TipoConstruccion) }}
    	    {{ bs.grid_label_text('Avance', res.Entidad.EstadoAvanceNombre) }}
    	</div>
    	<div class="col-sm-6 col-xs-12">
		    {{ bs.grid_label_text('Partida', res.Entidad.Partida.Numero) }}
		    {{ bs.grid_label_text('Zona', res.Entidad.Partida.Zona) }}
    	</div>
    </div> 

	<h2 class="row-header">Detalle</h2>
    <div class="col-sm-12">
		{% for tipofalta in res.Entidad.TipoFaltas %}
			<span class="label label-info label-lg">{{ tipofalta }}</span> 
		{% endfor %}
        {% if res.Entidad.Obs %}
    		<p>{{ res.Entidad.Obs }}</p>
    	{% endif %}
    </div>

</div>
{% endblock %}

{% block pagina_acciones %}
	<a class="btn btn-default" data-toggle="ajax-link" 
		href="{{ path(res.ObtenerRutaAccion('adjuntoslistar'), { 'id': res.Entidad.Id }) }}">
		<i class="fa fa-paperclip"></i> Adjuntos</a>
	{% if is_granted('ROLE_OBRAS_PARTICULARES_INSPECTOR') %}
	{% if res.Entidad.Plazo is not null %}
	    {% set descargo_ruta = 'verdescargo' %} 
	{% else %}
	    {% set descargo_ruta = 'emitirdescargo' %}
	{% endif %}
	<a href="{{ path(res.ObtenerRutaAccion(descargo_ruta), res.Arrastre|merge({ 'id': res.Entidad.id })) }}" 
		{% if res.Entidad.Plazo is null %} 
			class="btn btn-default"><i class="fa fa-mail-forward"></i> Realizar descargo	
		{% else %}
			class="btn btn-default"> <i class="fa fa-file-text-o"></i> Ver descargo
		{% endif %}</a>
	{% endif %}
{% endblock %}

{% block pagina_acciones2 %}
{% if is_granted('ROLE_OBRAS_PARTICULARES_INSPECTOR') %}
	<a href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
		class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
{% endif %}
{% endblock pagina_acciones2 %}
