{% extends 'TapirAbmBundle::ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-8 col-xs-12">
		    {{ bs.grid_label_text('Propietario', res.Entidad.Partida.Titular) }}
		    {% if res.Entidad.Partida.Titular %}
		        {{ bs.grid_label_text('Documento', res.Entidad.Partida.Titular.CuiltODocumento) }}
		    {% endif %}
		    {{ bs.grid_label_text('Inspector', res.Entidad.FuncionarioPrincipal) }}
		    {% if res.Entidad.OtrosFuncionarios|length > 0 %}
			    {% set OtrosFunc = [] %}
			    {% for funcionario in res.Entidad.OtrosFuncionarios %}
			    	{% set OtrosFunc = OtrosFunc|merge([funcionario.NombreAmigable]) %}
			    {% endfor %}
			    {{ bs.grid_label_text('Otros funcionarios', OtrosFunc|join(', ')) }}
			{% endif %}
		    {% if res.Entidad.Profesional %}
    	        {{ bs.grid_label_text('Profesional', res.Entidad.Profesional.Persona.NombreAmigable ~ 
    	        	', mat. Nº ' ~ res.Entidad.Profesional.Id) }}
    	    {% endif %}
		</div>
		<div class="col-sm-4 col-xs-12 col-separator-left">
		    {{ bs.grid_label_text66('Fecha', res.Entidad.Fecha|tapir_fecha('medium', 'none')) }}
		    <h3 class="row-header">Partida Nº {{ res.Entidad.Partida.Numero }}</h3>
		    {{ bs.grid_label_text66('Sección', res.Entidad.Partida.Seccion) }}
		    {{ bs.grid_label_text66('Macizo', res.Entidad.Partida.Macizo) }}
		    {{ bs.grid_label_text66('Parcela', res.Entidad.Partida.ParcelaYSubparcela) }}
		    {% if res.Entidad.Partida.UnidadFuncional and res.Entidad.Partida.UnidadFuncional > 0 %}
		        {{ bs.grid_label_text66('UF', res.Entidad.Partida.UnidadFuncional) }}
		    {% endif %}
		</div>
	</div>
     
    <h2 class="row-header">Construcción</h2>
    <div class="row">
    	<div class="col-sm-8 col-xs-12">
			{{ bs.grid_label_text('Domicilio', res.Entidad.Partida.Domicilio) }}
    	    {{ bs.grid_label_text('Tipo', res.Entidad.TipoConstruccion) }}
    	    {{ bs.grid_label_text('Avance', res.Entidad.EstadoAvanceNombre) }}
    	</div>
    	<div class="col-sm-4 col-xs-12">
		    {{ bs.grid_label_text('Zona', res.Entidad.Partida.Zona) }}
    	</div>
    </div> 

    <!-- Faltas -->
	<h2 class="row-header">Faltas detectadas</h2>
    <div class="col-sm-12">
    	<p>
		{% for tipofalta in res.Entidad.TipoFaltas %}
			* <mark>{{ tipofalta }}.</mark> 
		{% endfor %}
		</p>
        {% if res.Entidad.Obs %}
    		<p>Observaciones: <em>{{ res.Entidad.Obs }}</em></p>
    	{% endif %}
    </div>

{% if res.Entidad.Plazo %}    
    <div class="row">
		<div class="col-sm-4 col-xs-6 pull-right">
			<div class="firma-espacio"></div>
			<div class="firma-texto">Firma y sello del inspector</div>
		</div>
	</div>
	<!-- Fin Faltas -->

    <!-- Compromiso -->
	<h2 class="row-header">Compromiso</h2>

	<div class="row">
		<div class="col-xs-12">
			<p>Al haber tomado conocimiento de las observaciones realizadas por el Depto. de Inspección 
				de Obras Particulares me comprometo en un plazo maximo de 
        		<strong>
        		    {{ res.Entidad.Plazo }} {% if res.Entidad.Plazo == 1 %} día {% else %} días {% endif %}
        		</strong>
        		a cumplimentar con lo que se detalla a continuación:</p>
    		<p>
                {% for compromiso in res.Entidad.TipoFaltas %}
    				* <mark>{{ compromiso.FaltaCompromiso }}.</mark> 
    			{% endfor %}
    		</p>
    		{% if res.Entidad.DescargoDetalle is defined and res.Entidad.DescargoDetalle %} 
				<p>Observaciones: <em>{{ res.Entidad.DescargoDetalle }}</em></p>
    		{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-xs-6 pull-right">
			<div class="firma-espacio"></div>
			<div class="firma-texto">Propietario / Profesional</div>
		</div>
	</div>
    <!-- Fin compromiso -->

	<hr>

    <!-- Footer -->
	<div class="row">
    	<div class="col-xs-6">
    		Fecha: {{ res.Entidad.FechaDescargo|tapir_fecha('long', 'none') }}
    	</div>
    	<div class="col-xs-6 text-right">
    		Vencimiento: <strong>
    	    {{ res.Entidad.FechaDescargo|date_modify("+" ~ res.Entidad.Plazo ~ " day")|tapir_fecha('long', 'none') }}
    	    </strong>
    	</div>
	</div>
    <!-- Fin footer -->
{% endif %}

</div>
{% endblock pagina_contenido%}

{% block pagina_acciones %}
	<a class="btn btn-default" data-toggle="ajax-link" 
		href="{{ path(res.ObtenerRutaAccion('adjuntoslistar'), { 'id': res.Entidad.Id }) }}">
		<i class="fa fa-paperclip"></i> Adjuntos</a>
	{% if not res.Entidad.Plazo and 
	    is_expr_granted("hasAnyRole('ROLE_OBRAS_PARTICULARES_ADMINISTRADOR')") %}
	<a href="{{ path(res.ObtenerRutaAccion('emitirdescargo'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}" 
		class="btn btn-default"><i class="fa fa-mail-forward"></i> Realizar descargo</a>
	{% endif %}
{% endblock %}

{% block pagina_acciones2 %}
{% if is_expr_granted("hasAnyRole('ROLE_OBRAS_PARTICULARES_ADMINISTRADOR')") %}
	<a href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
    	class="btn btn-default"><i class="fa fa-edit"></i> Editar acta</a>
    {% if res.Entidad.Plazo %}
	<a href="{{ path(res.ObtenerRutaAccion('emitirdescargo'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
		class="btn btn-default"><i class="fa fa-edit"></i> Editar descargo</a>
	{% endif %}
{% endif %}
{% endblock pagina_acciones2 %}
