{% extends 'TapirAbmBundle::ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}Descargo de {{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-8 col-xs-12">
		    {{ bs.grid_label_text('Inspector', res.Entidad.FuncionarioPrincipal) }}
		    {{ bs.grid_label_text('Propietario', res.Entidad.Partida.Titular) }}
		    {{ bs.grid_label_text('Documento', res.Entidad.Partida.Titular.CuiltODocumento) }}
		</div>
		<div class="col-sm-4 col-xs-12 col-separator-left">
		    {{ bs.grid_label_text66('Fecha', res.Entidad.Fecha|tapir_fecha('medium', 'none')) }}
		    {{ bs.grid_label_text66('Sección', res.Entidad.Partida.Seccion) }}
		    {{ bs.grid_label_text66('Macizo', res.Entidad.Partida.Macizo) }}
		    {{ bs.grid_label_text66('Parcela', res.Entidad.Partida.ParcelaYSubparcela) }}
		    {% if res.Entidad.Partida.UnidadFuncional and res.Entidad.Partida.UnidadFuncional > 0 %}
		    {{ bs.grid_label_text66('UF', res.Entidad.Partida.UnidadFuncional) }}
		    {% endif %}
		</div>
	</div>
	
	{% if res.Entidad.Profesional %}
    <h2 class="row-header">Profesional</h2>
    <div class="row">
    	<div class="col-sm-6 col-xs-12">
    	    {{ bs.grid_label_text('Profesional', res.Entidad.Profesional) }}
    	    {{ bs.grid_label_text('Matrícula', res.Entidad.Profesional.Id) }}
    	</div>
    	<div class="col-sm-6 col-xs-12">
    	</div>
    </div> 
    {% endif %}
     
     
    <h2 class="row-header">Construcción</h2>
	{{ bs.grid_label_text('Domicilio', res.Entidad.Partida.Domicilio) }}
    {{ bs.grid_label_text('Denominación catastral', res.Entidad.Partida.Smpu) }}
    <div class="row">
    	<div class="col-sm-6 col-xs-12">
    	    {{ bs.grid_label_text('Tipo', res.Entidad.TipoConstruccion) }}
    	    {{ bs.grid_label_text('Avance', res.Entidad.EstadoAvanceNombre) }}
    	</div>
    	<div class="col-sm-6 col-xs-12">
		    {{ bs.grid_label_text('Partida', res.Entidad.Partida.Numero) }}
		    {{ bs.grid_label_text('Zona', res.Entidad.Partida.Zona) }}
    	</div>
    </div> 

<!-- Faltas -->
	<h2 class="row-header">Faltas detectadas</h2>
    <div class="col-sm-12">
    	<p>
		{% for tipofalta in res.Entidad.TipoFaltas %}
			* <mark>{{ tipofalta }}.</mark> 
		{% endfor %}
        {% if res.Entidad.Obs %}
    		<br />Observaciones: {{ res.Entidad.Obs }}
    	{% endif %}
    	</p>
    </div>
    
    <div class="row">
		<div class="col-sm-4 col-xs-6 pull-right">
			<div class="firma-espacio"></div>
			<div class="firma-texto">Firma y sello del inspector</div>
		</div>
	</div>

	
<!-- Compromiso -->
	<h2 class="row-header">Compromiso</h2>

	<div class="row">
		<div class="col-xs-12">
			<p>Al haber tomado conocimiento de las observaciones realizadas por el Depto. de Inspección 
				de Obras Particulares me comprometo en un plazo maximo de 
        		<strong>
        		    {{ res.Entidad.Plazo }} {% if res.Entidad.Plazo == 1 %} día {% else %} días {% endif %}
        		</strong>
        		a cumplimentar con lo que se detalla a continuación:</p>
    		<p>
                {% for compromiso in res.Entidad.TipoFaltas %}
    				* <mark>{{ compromiso.FaltaCompromiso }}.</mark> 
    			{% endfor %}
    		</p>
    		<br />
    		{% if res.Entidad.DescargoDetalle is defined and res.Entidad.DescargoDetalle %} 
				<p>A continuación se especifican detalles adicionales:</p>
				<blockquote>{{ res.Entidad.DescargoDetalle }}</blockquote>
    		{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-4 col-xs-6 pull-right">
			<div class="firma-espacio"></div>
			<div class="firma-texto">Propietario / Profesional</div>
		</div>
	</div>
<!-- Fin compromiso -->

	<hr>
	
<!-- Footer -->
	<div class="row">
    	<div class="col-xs-6">
    		Fecha: {{ res.Entidad.FechaDescargo|tapir_fecha('long', 'none') }}
    	</div>
    	<div class="col-xs-6 text-right">
    		Vencimiento: <strong>
    	    {{ res.Entidad.FechaDescargo|date_modify("+" ~ res.Entidad.Plazo ~ " day")|tapir_fecha('long', 'none') }}
    	    </strong>
    	</div>
	</div>
<!-- Fin footer -->

</div>
{% endblock pagina_contenido%}

{% block pagina_acciones %}
<a href="{{ path(res.ObtenerRutaAccion('ver'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}" 
	class="btn btn-default"><i class="fa fa-fw fa-reply"></i> Ver acta original	
	</a>
{% endblock pagina_acciones %}

{% block pagina_acciones2 %}
    {% if is_granted('ROLE_OBRAS_PARTICULARES_INSPECTOR') %}
    	<a href="{{ path(res.ObtenerRutaAccion('emitirdescargo'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
    		class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
    {% endif %}
{% endblock pagina_acciones2 %}
