{% extends 'TapirAbmBundle::imprimir.html.twig' %}

{% block pagina_titulo %}Descargo {{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
<div class="container-fluid">

<!-- Cabecera del descargo -->
	<h3 class="row-header text-center">DESCARGO DE ACTA</h3>
<!-- Fin cabecera del descargo -->
	
<!-- Datos propios del descargo -->
	<div class="row">
    	<div class="col-xs-2 text-right"><strong>Propietario:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Titular }}</div>
    	<div class="col-xs-4 text-right"><strong>Sección:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Seccion }}</div>
    </div>
    <div class="row">
    	<div class="col-xs-2 text-right"><strong>Domicilio:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Domicilio }}</div>
    	<div class="col-xs-4 text-right"><strong>Macizo:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Macizo }}</div>
    </div>
    <div class="row">
    	<div class="col-xs-2 text-right"><strong>DNI:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Titular.DocumentoNumero }}</div>
    	<div class="col-xs-4 text-right"><strong>Parcela:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Parcela }}</div>
    </div>
    <div class="row">
    	<div class="col-xs-2 text-right"><strong>Partida:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.Numero }}</div>
    	<div class="col-xs-4 text-right"><strong>UF:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Partida.UnidadFuncional }}</div>
    </div>
    {% if res.Entidad.Profesional.Id is defined and res.Entidad.Profesional.Id%}
    <div class="row">
    	<div class="col-xs-2 text-right"><strong>Profesional:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Profesional.Persona.NombreVisible }}</div>
    	<div class="col-xs-4 text-right"><strong>Mátricula:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Profesional.Id }}</div>
    </div>
    {% endif %}
<!-- Fin datos propios del descargo -->
    
<!-- Cabecera del acta asociada -->
	<h3 class="row-header text-center">ACTA DE {{ res.Entidad.Subtipo|upper }}</h3>
	<div class="row">
    	<div class="col-xs-2 text-right"><strong>NÚMERO:</strong></div> 
    	<div class="col-xs-4">{{ res.Entidad.Numero }}</div>
    	<div class="col-xs-3 text-right"><strong>FECHA:</strong></div> 
    	<div class="col-xs-3">{{ res.Entidad.Fecha|tapir_fecha('long', 'none') }}</div>
    &nbsp;
    </div>
	<div class="row">
		<div class="col-xs-12">Inspección realizada por {{ res.Entidad.FuncionarioPrincipal }}.</div>
	</div>
<!-- Fin cabecera del acta asociada -->

	<hr>
	
<!-- Faltas -->
	<div class="row">
		<div class="col-xs-12">
			<h4 class="small-text">La {{ res.Entidad.Subtipo|lower }} detectó las siguientes faltas:</h4>
			<h4><em>
			{% for tipofalta in res.Entidad.TipoFaltas %}				
				{{ tipofalta|upper }}, 
			{% endfor %}
			</em></h4
			><br />
			{% if res.Entidad.Obs is defined and res.Entidad.Obs %}
				<h4 class="small-text">Además, las siguientes Observaciones:</h4>
				<h4><em>{{ res.Entidad.Obs|upper }}</em></h4>        				
			{% endif %}
		</div>
	</div><br />
	<div class="row">
		<div class="col-xs-4 pull-right">
			<hr class="firma"><p class="text-center">FIRMA Y SELLO DEL INSPECTOR</p>
		</div>
	</div>
<!-- Fin faltas -->

	<hr>
	
<!-- Compromiso -->
	<div class="row">
		<div class="col-xs-12">
		<h4 class="small-text">Al haber tomado conocimiento de las observaciones realizadas por el Depto. de Inspección 
		de Obras Particulares me comprometo en un plazo maximo de 
		<strong>
		    {{ res.Entidad.Plazo }} {% if res.Entidad.Plazo == 1 %} día {% else %} días {% endif %}
		</strong>
		a cumplimentar con lo que se detalla a continuación:</h4>
		<h4><em>
            {% for compromiso in res.Entidad.TipoFaltas %}
				{{ compromiso.FaltaCompromiso|upper }}, 
			{% endfor %}
		</em></h4>
		<br />
		{% if res.Entidad.DescargoDetalle is defined and res.Entidad.DescargoDetalle %} 
				<h4 class="small-text">A continuación se especifican detalles adicionales:</h4>
				<h4><em>{{ res.Entidad.DescargoDetalle|upper }}</em></h4>
		{% endif %}
		</div>
	</div> <br />
	<div class="row">
		<div class="col-xs-4 pull-right">
			<hr class="firma"><p class="text-center">PROPIETARIO / PROFESIONAL</p>
		</div>
	</div>
<!-- Fin compromiso -->

	<hr>
	
<!-- Footer -->
	<div class="row">
    	<div class="col-xs-6">
    		<strong>FECHA: &nbsp;</strong> {{ res.Entidad.FechaDescargo|tapir_fecha('long', 'none') }}
    	</div>
    	<div class="col-xs-6 text-right"><strong>VENCIMIENTO: &nbsp;</strong> 
    	    {{ res.Entidad.FechaDescargo|date_modify("+" ~ res.Entidad.Plazo ~ " day")|tapir_fecha('long', 'none') }}
    	</div>
	</div>
<!-- Fin footer -->

</div>
{% endblock pagina_contenido%}

{% block pagina_acciones %}
    {% if is_granted('ROLE_OBRAS_PARTICULARES_INSPECTOR') %}
    	<a href="{{ path(res.ObtenerRutaAccion('emitirdescargo'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
    		class="btn btn-warning hidden-print"><i class="fa fa-edit"></i> Editar</a>
    {% endif %}
{% endblock pagina_acciones %}
