{% extends 'YacareTramitesBundle:Tramite:ver.html.twig' %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}

{% block tramite_encab %}{{ parent() }}
    <p>El uso del suelo para la actividad <strong>{{ res.Entidad.Comercio.Actividad1|lower }}</strong> en la zona es
        {% if res.Entidad.UsoSuelo > 3 %} <i class="fa fa-warning text-danger"></i> {% endif %}
        <strong>{{ res.Entidad.UsoSueloNombre|lower }}</strong>.
    </p>
{% endblock %}

{% block tramite_requisitos %}{{ parent() }}{% endblock %}

{% endblock %}

{% block pagina_acciones2 %}{{ parent() }}
    {% if res.Entidad.Estado < 90 and tapir_hasanyrole('ROLE_ADMINISTRADOR') %}
    {% endif %}
{% endblock %}
