{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-8 col-xs-12">
    
    			<div class="container-fluid">
    				<div class="row">
    					<div class="col-xs-4 text-right text-muted">Nombre</div>
    					<div class="col-xs-8">{{ res.Entidad.Nombre }}</div>
    				</div>
    				<div class="row">
    					<div class="col-xs-4 text-right text-muted">Depende de</div>
    					<div class="col-xs-8">{{ res.Entidad.ParentNode }}</div>
    				</div>
    				<div class="row">
    					<div class="col-xs-4 text-right text-muted">Rango</div>
    					<div class="col-xs-8">{{ res.Entidad.RangoNombre }}</div>
    				</div>
    			</div>
    		</div>
    		<div class="col-sm-4 hidden-xs">
    			<i class="fa fa-building fa-4x text-muted pull-right"></i>
    		</div>
    	</div>
    </div>
{% endblock %}

{% block pagina_acciones2 %} {{ parent() }} 
    {% if tapir_hasanyrole('ROLE_ADMINISTRADOR') %}
        <a data-toggle="ajax-link" data-dismiss="modal" class="btn btn-default hidden-print"
        	href="{{ path(res.ObtenerRutaAccion('editar'), { 'id': res.Entidad.Id }) }}"><i class="fa fa-edit"></i> Editar</a>
    {% endif %}
{% endblock %}
