{% extends 'TapirAbmBundle::editar.html.twig' %} 
{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{% if res.Entidad.id %}{{ res.Entidad }}{% else %}Nuevo trámite de aprobación de
	planos{% endif %}{% endblock %}
{% block pagina_contenido %}
<div class="row form-group">
		<div>{{ form_row(res.FormularioEditar.NumeroPrevia) }}</div>
		<div>{{ form_row(res.FormularioEditar.Partida) }}</div>
		<div>{{ form_row(res.FormularioEditar.ObraDestinos) }}</div>
		<div>{{ form_row(res.FormularioEditar.PlanoTipo) }}</div>
</div>
 <div class="row form-group">
    	<label class="col-sm-2 control-label">Superficie proyectada (m²)</label>
    	<div class="col-sm-2">{{ form_widget(res.FormularioEditar.SuperficieProyectada) }}</div>
    	<label class="col-sm-2 control-label">Superficie aprobada (m²)</label>    	
		<div class="col-sm-2">{{ form_widget(res.FormularioEditar.SuperficieAprobada) }}</div>
		<label class="col-sm-2 control-label">Superficie relevada (m²)</label>    	
		<div class="col-sm-2">{{ form_widget(res.FormularioEditar.SuperficieRelevada) }}</div>
</div>
<div class="row form-group">
 	<div>{{ form_row(res.FormularioEditar.Profesional) }}</div>
</div>
<div class="row form-group">
 	<div>{{ form_row(res.FormularioEditar.Obs) }}</div>
</div>
{{ form_rest(res.FormularioEditar) }}
{% endblock %}

{% block pagina_scripts %}
{{ parent() }}
<!-- Deshabilito opciones de acuerdo al tipo de plano -->
    <script>
    $(function() {
        $('#tramite_plano_PlanoTipo').change(function() {
            if($('#tramite_plano_PlanoTipo').val() === '1') {
            	$('#tramite_plano_SuperficieProyectada').prop('disabled', true);
            	$('#tramite_plano_SuperficieAprobada').prop('disabled', true);
            	$('#tramite_plano_SuperficieRelevada').prop('disabled', false);
            } else if ($('#tramite_plano_PlanoTipo').val() === '2') {
            	$('#tramite_plano_SuperficieProyectada').prop('disabled', true);
            	$('#tramite_plano_SuperficieAprobada').prop('disabled', false);
            	$('#tramite_plano_SuperficieRelevada').prop('disabled', false);
            } else if ($('#tramite_plano_PlanoTipo').val() === '4') {
            	$('#tramite_plano_SuperficieProyectada').prop('disabled', false);
            	$('#tramite_plano_SuperficieAprobada').prop('disabled', true);
            	$('#tramite_plano_SuperficieRelevada').prop('disabled', true);
            } else if ($('#tramite_plano_PlanoTipo').val() === '5') {
            	$('#tramite_plano_SuperficieProyectada').prop('disabled', false);
            	$('#tramite_plano_SuperficieAprobada').prop('disabled', true);
            	$('#tramite_plano_SuperficieRelevada').prop('disabled', false);
            } else if ($('#tramite_plano_PlanoTipo').val() === '6') {
            	$('#tramite_plano_SuperficieProyectada').prop('disabled', false);
            	$('#tramite_plano_SuperficieAprobada').prop('disabled', false);
            	$('#tramite_plano_SuperficieRelevada').prop('disabled', false);
            }
        }).change();
	});
	</script>
 {% endblock %}