{% extends 'YacareTramitesBundle:Tramite:terminar.html.twig' %}

{% block pagina_titulo %}{{ res.Entidad.Nombre }}{% endblock %}

{% block pagina_contenido %}

{% block comprobante_encab %}
    <p class="text-right">Río Grande, {{ res.Entidad.createdAt|tapir_fecha('full', 'none')|lower }}</p>
{% endblock %} 

{% block comprobante_contenido %}
	<h2 class="row-header">Datos de la obra</h2>
	<div class="col-sm-4 col-xs-12 col-separator-left">
        <div>{{form_row(res.Entidad.Id )}}</div>
        <div>{{form_row(res.Entidad.Partida.Domicilio )}}{{form_row(res.Entidad.Partida)}}</div>  
        <div>{{form_row(res.Entidad.Partida.Tituar) }}</div>
   <h2 class="row-header">Datos del profesional</h2>
   <div class="col-sm-4 col-xs-12 col-separator-left">
   		<div>{{form_row(res.Entidad.Profesional.Persona.NombreVisible)}}</div>
   		<div>{{form_row(res.Entidad.Profesional.Persona.Documento)}}</div>     
    <footer>
    	A solicitud del interesado se extiende el presente Permiso Provisorio de Inicio de Obra
    	 de acuerdo al Art. II 1.1.2.1 del Código de Edificación según los datos consignados más arriba.
    	 El otorgamiento del presente, se efectúa sin perjuicio de disponer la demolición y/o modificación de lo ejecutado a la suspensión de los trabajos,
    	 si estos no fueran realizados de acuerdo con la documentación presentada o las reglamentaciones en vigencia.
    	 Dentro de un plazo de 48 horas de la emisión del mismo, deberá colocarse el cartel de obra correspondiente: según Código de Edificación Art. IV.1.2, IV.1.2.2. 
    	 {{res.Entidad.FechaValidezHasta|tapir_fecha('full', 'none')|lower }} inclusive.
    </footer>
{% endblock %} {% endblock %} 

{% block pagina_acciones %}
{{ tgen.Button('Imprimir', { icon: 'print', onclick: 'window.print();', href: '#' })|raw }}
{% endblock %}
