{% extends 'YacareTramitesBundle:Tramite:ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}


{% block pagina_titulo %}{{ res.Entidad }}{% endblock %}

{% block pagina_contenido %}
{% block tramite_encab %} 
{{ parent() }}	   
{% endblock %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
        <h3 class="row-header">
         {{ bs.grid_label_text('Partida', [ res.Entidad.Partida.Numero,res.Entidad.Partida]|join (', '))}}</h3>
        {% if res.Entidad.Partida.Titular %}
	    	{{ bs.grid_label_text('Solicitante', res.Entidad.Partida.Titular) }}
	        {{ bs.grid_label_text('Documento', res.Entidad.Partida.Titular.CuiltODocumento) }}
	    {% endif %}
	    </div>
	    <div class ="col-sm-6 col-xs-12 col-separator-left">
	    {{ bs.grid_label_text('Tipo', res.Entidad.getTipo) }}
	    {% if res.Entidad.ObraDestinos|length > 0 %}
		    {% set MuchosDest = [] %}
                {% for obra_destino in res.Entidad.ObraDestinos %}
		    	{% set MuchosDest = MuchosDest|merge([obra_destino]) %}
		    {% endfor %}
		    {{ bs.grid_label_text('Destino', MuchosDest|join(', ')) }}
		{% endif %}
        {{ bs.grid_label_text('Profesional', res.Entidad.Profesional.Persona.NombreAmigable ~ 
        	', mat. Nº ' ~ res.Entidad.Profesional.Id) }}
		</div>
	</div>
	<p class="text-info">Este tramite
        {%if res.Entidad.InicioDeObra%}
        tiene permiso de inicio de obra emitido el dia {{ res.Entidad.InicioDeObra|tapir_fecha('medium', 'none') }}
        {% else %}
         no tiene permiso de inicio de obra.
        {% endif %}
    </p>
</div>
{% block tramite_requisitos %}{{ parent() }}
{% endblock %}

{% endblock pagina_contenido%}

{% block pagina_acciones %}
{% if inicio_obra %}
    {{ tgen.Button('Inicio de Obra', { icon: ' fa-fort-awesome ', ajax: true, href: path(res.ObtenerRutaAccion('iniciodeobra'), { 'id': res.Entidad.Id }) })|raw }}
{% endif %}
{{ tgen.Button('Adjuntos', { icon: 'paperclip', ajax: true, href: path(res.ObtenerRutaAccion('adjuntoslistar'), { 'id': res.Entidad.Id }) })|raw }}
{# tgen.Button('Seguimiento', { icon: 'paper-plane', ajax: true, href: path(res.ObtenerRutaAccion('seguimientolistar'), { 'id': res.Entidad.Id }) })|raw #}
{% endblock %}

{% block pagina_acciones2 %}
{{ parent() }}
{% if tapir_hasanyrole('ROLE_OBRAS_PARTICULARES_ADMINISTRADOR') %}
	<a href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
    	class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
{% endif %}
{% endblock pagina_acciones2 %}
