{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}Acta de {{ res.Entidad.SubTipo }} Nº {{ res.Entidad.Numero }}{% endblock %}

{% block pagina_contenido %}
	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<h3 class="row-header">{{ res.Entidad.SubTipo }}</h3>
    	    {{ bs.grid_label_text('Comercio', res.Entidad.Comercio) }}
    	    {{ bs.grid_label_text('Domicilio', res.Entidad.Comercio.Domicilio) }}
		    {{ bs.grid_label_text('Inspector', res.Entidad.FuncionarioPrincipal) }}
            {% if res.Entidad.OtrosFuncionarios|length > 0 %}
    		    {% set OtrosFunc = [] %}
    		    {% for funcionario in res.Entidad.OtrosFuncionarios %}
    		    	{% set OtrosFunc = OtrosFunc|merge([funcionario.NombreAmigable]) %}
    		    {% endfor %}
    		    {{ bs.grid_label_text('Otros funcionarios', OtrosFunc|join(', ')) }}
		    {% endif %}
    	</div>
    	<div class="col-sm-4 col-xs-12">
    	    {{ bs.grid_label_text66('Número', res.Entidad.Numero) }}
		    {{ bs.grid_label_text66('Fecha', res.Entidad.Fecha|tapir_fecha('medium', 'none')) }}
		    {{ bs.grid_label_text66('Hora', res.Entidad.Hora) }}
    	</div>
    </div>
    
    <h2 class="row-header">Detalle</h2>
    <div class="row">
    	<div class="col-xs-12">
    		{% for etiqueta in res.Entidad.Etiquetas %}
    			<mark>{{ etiqueta }}</mark>
    			{% if etiqueta.Resultado %}
    				({{ etiqueta.Resultado }})
    			{% endif %}<br /> 
    		{% endfor %}
    		
    		{% if res.Entidad.Detalle %}
            	<hr />
                {{ res.Entidad.Detalle }}
            {% endif %}
            
            {% if res.Entidad.Obs %}
            	<hr />
                Observaciones: {{ res.Entidad.Obs }}
            {% endif %}
    	</div>
    </div>
    
    
    
    {% if res.Entidad.Obs %}
    <hr />
    <div class="row">
    	<div class="col-xs-2 text-label text-right">Observaciones</div>
    	<div class="col-xs-10">{{ res.Entidad.Obs }}</div>
    </div>
    {% endif %}

{% endblock %}

{% block pagina_acciones %}
	<a href="{{ path('yacare_comercio_comercio_ver', res.Arrastre|merge({ 'id': res.Entidad.Comercio.id })) }}"
		class="btn btn-default"><i class="fa fa-reply"></i> Volver</a>
{% endblock pagina_acciones %}


{% block pagina_acciones2 %}
{% if tapir_hasanyrole('ROLE_COMERCIO_ADMINISTRADOR', 'ROLE_COMERCIO_INSPECTOR') %}
	<div class="pull-right">
	<a href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
		class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
	</div>
{% endif %}
{% endblock pagina_acciones2 %}
