{% extends 'TapirTemplateBundle::layout.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}Acta de {{ res.Entidad.SubTipo }} Nº {{ res.Entidad.Numero }}{% endblock %}

{% block pagina_contenido %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
        	    {{ bs.grid_label_text('Comercio', res.Entidad.Comercio) }}
        	    {{ bs.grid_label_text('Domicilio', res.Entidad.Comercio.Domicilio) }}
			    {{ bs.grid_label_text('Inspector', res.Entidad.FuncionarioPrincipal) }}
			    {% if res.Entidad.OtrosFuncionarios|length > 0 %}
    			    {% set OtrosFunc = '' %}
    			    {% for funcionario in res.Entidad.OtrosFuncionarios %}
    			    	{% set OtrosFunc = OtrosFunc + ' ' + funcionario %}
    			    {% endfor %}
    			    {{ bs.grid_label_text('Otros funcionarios', OtrosFunc) }}
			    {% endif %}
        	</div>
        	<div class="col-sm-6 col-xs-12">
        	    {{ bs.grid_label_text('Número', res.Entidad.Numero) }}
        	    {{ bs.grid_label_text('Tipo', res.Entidad.SubTipo) }}
			    {{ bs.grid_label_text('Fecha', res.Entidad.Fecha|tapir_fecha('medium', 'none')) }}
			    {{ bs.grid_label_text('Hora', res.Entidad.Hora) }}
        	</div>
        </div>
        <div class="row">
        	<div class="col-xs-2 text-label text-right">Etiquetas</div>
        	<div class="col-xs-10">
        		{% for etiqueta in res.Entidad.Etiquetas %}
        			<mark>{{ etiqueta }}</span> 
        		{% endfor %}
        	</div>
        </div>
        
        {% if res.Entidad.Detalle %}
        <hr />
        <div class="row">
        	<div class="col-xs-2 text-label text-right">Detalle</div>
        	<div class="col-xs-10">{{ res.Entidad.Detalle }}</div>
        </div>
        {% endif %}
        
        {% if res.Entidad.Obs %}
        <hr />
        <div class="row">
        	<div class="col-xs-2 text-label text-right">Observaciones</div>
        	<div class="col-xs-10">{{ res.Entidad.Obs }}</div>
        </div>
        {% endif %}
	</div>
</div>
{% endblock %}

{% block pagina_acciones2 %}
{% if is_granted('ROLE_COMERCIO_INSPECTOR') %}
	<a href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.id })) }}"
		class="btn btn-default pull-right"><i class="fa fa-edit"></i> Editar</a>
{% endif %}
{% endblock pagina_acciones2 %}
