{% extends 'TapirAbmBundle::editarbase.html.twig' %}

{% block pagina_titulo %}{% if res.Entidad.id %}{{ res.Entidad }}{% else %}Nuevo agente{% endif %}{% endblock %}

{% block pagina_contenido %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#editar_agente">Editar agente</a></li>
  <li><a data-toggle="tab" href="#editar_persona">Editar persona</a></li>
</ul>
&nbsp;
<div class="container-fluid tab-content">
	<div id="editar_agente" class="tab-pane fade in active">
      	<div class="row form-group"> 
            {{ form_label(res.FormularioEditar.id) }}
      		<div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.id) }} </div>
      	</div>
      	<div class="row form-group">
      		{{ form_label(res.FormularioEditar.Grupos) }}
        	<div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Grupos) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.FechaIngreso) }}
        	<div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.FechaIngreso) }}</div>
        </div>
    </div>
    <div id="editar_persona" class="tab-pane fade">
    	<div class="row form-group">
      		{{ form_label(res.FormularioEditar.Persona.Apellido) }}
          	<div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Apellido) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.Nombre) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Nombre) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.Documento) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Documento) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.Cuilt) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Cuilt) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.Domicilio) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Domicilio) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.TelefonoNumero) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.TelefonoNumero) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.Email) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Email) }} </div>
        </div>
        <div class="row form-group">
        	{{ form_label(res.FormularioEditar.Persona.Username) }}
            <div class="col-xs-12 col-sm-10"> {{ form_widget(res.FormularioEditar.Persona.Username) }} </div>
        </div>
	</div>
	{{ form_rest(res.FormularioEditar) }}
</div>
{% endblock %}
