{% extends 'TapirAbmBundle::ver.html.twig' %}

{% import 'TapirBaseBundle:Default:macros_bootstrap.html.twig' as bs %}

{% block pagina_titulo %}{% if res.Entidad.id %}{{ res.Entidad }}{% else %}Nueva persona{%endif %}{% endblock pagina_titulo %}

{% block pagina_contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-xs-12">
		    {{ bs.grid_label_text('Legajo', '<strong>' ~ res.Entidad.id ~ '</strong>') }}
		    {{ bs.grid_label_text('Documento', res.Entidad.Persona.DocumentoNumero) }}
		    {{ bs.grid_label_text('CUIL', res.Entidad.Persona.CuiltFormateado) }}
		    {{ bs.grid_label_text('Domicilio <i class="fa fa-home fa-fw"></i>', res.Entidad.Persona.Domicilio) }}
		    {{ bs.grid_label_text('Teléfono <i class="fa fa-phone fa-fw"></i>', res.Entidad.Persona.TelefonoNumero) }}
		    {{ bs.grid_label_text('E-mail <i class="fa fa-envelope fa-fw"></i>', res.Entidad.Persona.Email) }}
		    {{ bs.grid_label_text('Fecha de nacimiento', res.Entidad.Persona.FechaNacimiento|tapir_fecha('medium', 'none')) }}
		</div>
		<div class="col-sm-4 hidden-xs">
			<i class="fa fa-user fa-5x text-muted pull-right"></i>
		</div>
	</div>

	<hr />
	Antigüedad liq. haberes: {{ res.Entidad.AntiguedadLiquidacionHaberes|tapir_diferenciafechas }}
	<hr />

	{{ bs.grid_row() }}
	{{ bs.grid_col(12) }}
	
	{% set depname = res.Entidad.Departamento %}
	{% if res.Entidad.Departamento and res.Entidad.Departamento.ParentNode %}
    	{% set depname = depname ~ ' <br />' ~ res.Entidad.Departamento.ParentNode %}
    	{% if res.Entidad.Departamento.ParentNode.ParentNode %}
    	    {% set depname = depname ~ ' <br />' ~ res.Entidad.Departamento.ParentNode.ParentNode %}
    	{% endif %}
	{% endif %}
	{{ bs.grid_label_text('Departamento <i class="fa fa-building fa-fw"></i>', depname) }}
	{{ bs.grid_label_text('Función', res.Entidad.Funcion) }}
	{{ bs.grid_label_text('Estudios', res.Entidad.EstudiosNivelNombre) }}
	{{ bs.grid_row_col_end() }}
	{{ bs.grid_col(12) }}
	{% set a='text-danger' %}
	{{ bs.grid_label_text('Categoría', res.Entidad.Categoria) }}
	{{ bs.grid_label_text('Situación', res.Entidad.SituacionNombre) }}
	{{ bs.grid_label_text('Fecha de ingreso', res.Entidad.FechaIngreso|tapir_fecha('medium', 'none')) }}
	{% if res.Entidad.BajaMotivo > 0 %}
	    {{ bs.grid_label_text('Fecha de baja', res.Entidad.BajaFecha|tapir_fecha('medium', 'none')) }}
	    {{ bs.grid_label_text('Motivo de baja', res.Entidad.BajaMotivoNombre) }}
	{% endif %}
	{% for Grupo in res.Entidad.Grupos %}<span class="label label-info">{{ Grupo }}</span> {% endfor %}
	{{ bs.grid_row_col_end() }}
</div>

<hr />
{% endblock pagina_contenido %}

{% block pagina_acciones2 %}
    <a data-toggle="ajax-link" class="btn btn-primary"
    	href="{{ path(res.ObtenerRutaAccion('editar'), res.Arrastre|merge({ 'id': res.Entidad.Id })) }}"><i
    	class="fa fa-edit"></i> Editar agente</a>
    {% if is_granted('ROLE_ADMINISTRADOR') %}
        {% if res.Entidad.Persona.Username %}
            <a data-toggle="ajax-link" class="btn btn-primary"
            	href="{{ path('usuario_editarperfil', res.Arrastre|merge({ 'id': res.Entidad.Persona.Id })) }}"><i
            	class="fa fa-user"></i> Editar perfil</a>
            <a data-toggle="modal" class="btn btn-default"
            	href="{{ path('usuario_cambiarcontrasena', res.Arrastre|merge({ 'id': res.Entidad.Persona.Id })) }}"><i
            	class="fa fa-key"></i> Cambiar contraseña</a>
        {% else %}
            <a data-toggle="ajax-link" class="btn btn-primary"
            	href="{{ path('usuario_editarperfil', res.Arrastre|merge({ 'id': res.Entidad.Persona.Id })) }}"><i
            	class="fa fa-user"></i> Crear perfil</a>
        {% endif %}
    {% endif %}
{% endblock pagina_acciones2 %}
